<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.register.open.title}">Register Open Screen</title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<link href="../../static/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}" rel="stylesheet" />
<script src="../../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
<link href="../../static/css/box_radio.css" th:href="@{/css/box_radio.css}" rel="stylesheet" />
<script src="../../static/js/dailydeed.js" th:src="@{/js/dailydeed.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu 
		<div th:include="common/menu:: leftMenu"></div> -->
		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card content-container">
				<div class="card-header">
					<h3 th:text="#{commerce.screen.register.open.title}">Provide Register Details for Daily Deeds</h3>
				</div>
				<div class="card-body">
					<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
					<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
					<div th:if="${dailyDeedBean==null}">
						<a th:href="@{/pos/open_store}" class="btn btn-success mx-2"> <span class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-home"></i> <i
								class="fas fa-play" data-fa-transform="shrink-10 right-11 up-4"></i>
						</span><span th:text="#{commerce.home.menu.open.store}">Open Store</span>
						</a>
					</div>
					<form id="openRegisterForm" action="#" th:action="@{/pos/open_register}" th:object="${dailyDeedBean}" method="post"
						th:if="${dailyDeedBean!=null}">
						<div class="row">
							<div class="col-6">
								<label for="registerId"><small><span class="pos-mandatory" th:text="#{commerce.screen.register.open.select}">Select
											Register to open</span></small></label>
								<div th:if="${#fields.hasErrors('register')}" th:errors="${dailyDeedBean.register}" class="text-danger align-top">Register Error</div>
								<div class="box-radio-parent">
									<th:block th:each="register,itrStat:${registers}">
										<label> <input type="radio" name="registerRadio" id="registerRadio" th:field="*{register}" th:value="${register.registerId}"></input>
											<div class="sm-box">
												<div class="row box-text">
													<div class="col-4">
														<span> <i class="fas fa-desktop fa-2x"></i>
														</span>
													</div>
													<div class="col">
														<div class="display-4">
															<span th:text="${register.registerId}"></span>
														</div>
														<div>
															<input type="hidden" th:id="${register.registerId+'_reg_name'}" th:value="${register.name}"></input>
															<h5>
																<span th:text="${register.name}"></span>
															</h5>
														</div>
													</div>
												</div>
												<div class="row box-footer">
													<div class="col">
														<div th:if="${register.lastStatus}">
															<input type="hidden" th:id="${register.registerId+'_reg_status'}" th:value="${register.lastStatus}"></input> <small><span
																th:text="#{commerce.screen.store.open.status.last}"></span></small> : <span th:text="${register.lastStatus}"></span>
														</div>
														<div th:if="${register.lastBusinessDate}">
															<small><span th:text="#{commerce.screen.store.open.date.on}"></span></small> : <span th:text="${register.lastBusinessDate}"></span>
														</div>
													</div>
												</div>
											</div>
										</label>
									</th:block>
								</div>
							</div>
							<div class="col-6">
								<div class="row border-box-filled">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.common.date.business}">Business Date</span></small></label> <input type="hidden"
												th:field="${dailyDeedBean.businessDate}"></input> <input type="hidden" th:field="${dailyDeedBean.registerId}"></input> <input
												type="hidden" th:field="${dailyDeedBean.registerName}"></input>
											<div class="input-group text-left">
												<label><h5>
														<span th:text="${{dailyDeedBean.businessDate}}">Business Date</span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.common.location}">Location</span></small></label>
											<div class="input-group text-left">
												<label><h5>
														<input type="hidden" th:field="*{referrerURL}"></input> <input type="hidden" th:field="*{locationId}"></input> <input type="hidden"
															th:field="*{locationName}"></input> <span th:text="${dailyDeedBean.locationId}">Location Id</span> - <span
															th:text="${dailyDeedBean.locationName}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tenderListContainer"
							th:class="${(#lists.size(registers)>1 and dailyDeedBean.register==null) or (#lists.size(registers)==1 and registers[0].lastStatus!=null and registers[0].lastStatus!='' and registers[0].lastStatus=='CLOSE_REGISTER')}?'d-none':''">
							<input type="hidden" th:field="*{selectedTenderId}"></input> <input type="hidden" th:field="*{selectedDenominationId}"></input>
							<th:block th:each="tender,itrStat:${dailyDeedBean.tenders}">
								<div class="border-box">
									<div class="border-box-title">
										<div class="row">
											<div class="col-2">
												<div class="form-group">
													<input type="hidden" th:field="${dailyDeedBean.tenders[__${itrStat.index}__].tenderId}"></input> <input type="hidden"
														th:field="${dailyDeedBean.tenders[__${itrStat.index}__].calTAmount}"></input> <input type="hidden"
														th:field="${dailyDeedBean.tenders[__${itrStat.index}__].calMCount}"></input> <input type="hidden"
														th:field="${dailyDeedBean.tenders[__${itrStat.index}__].name}"></input> <input type="hidden" id="storeOpenTAmount"
														th:value="${dailyDeedBean.tenders[__${itrStat.index}__].calTAmount}"></input> <input type="hidden" id="storeOpenMCount"
														th:value="${dailyDeedBean.tenders[__${itrStat.index}__].calMCount}"></input> <label><span
														th:text="#{commerce.screen.common.tender.type}">Tender Type</span></label>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label><h5>
															<span th:text="${tender.name}">Cash</span>
														</h5></label>
												</div>
											</div>
										</div>
									</div>
									<div class="border-box-body">
										<th:block th:each="dnmn,itrDenomination:${dailyDeedBean.tenders[__${itrStat.index}__].denominations}">
											<div class="row">
												<div class="col-3">
													<div class="form-group">
														<label for="type"><small><span class="pos-mandatory" th:text="#{commerce.screen.common.tender.denomination}">Tender
																	Denominations</span></small></label>
														<div class="input-group text-left">
															<select th:onChange="'changedDenomination(\''+${itrStat.index} +'\',\''+ ${itrDenomination.index} +'\')'"
																th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denominationId}"
																class="form-control input-sm">
																<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.common.tender.denomination.select}">Select
																	Denomination</option>
																<th:block th:each="dnmnBean,itrDnmnAmt:${dailyDeedBean.denominationList}">
																	<option th:value="${dnmnBean.denominationId}" th:text="#{commerce.screen.common.currency.inr}+' '+${dnmnBean.code}"></option>
																</th:block>
															</select>
														</div>
														<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denominationId')}"
															th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denominationId}"
															class="text-danger align-top">Denomination Error </small>
													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label th:for="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"><small><span
																class="pos-mandatory" th:text="#{commerce.screen.common.tender.count}">Media Count</span></small></label>
														<div class="input-group text-left">
															<input th:onChange="'changedCount(\''+${itrStat.index} +'\',\''+ ${itrDenomination.index} +'\')'" type="number"
																th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"
																th:placeholder="#{commerce.screen.store.open.tender.count}" class="form-control input-sm" data-input="data-input"></input>
														</div>
														<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount')}"
															th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"
															class="text-danger align-top">Media Count Error </small>
													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label th:for="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"><small><span
																class="pos-mandatory" th:text="#{commerce.screen.common.amount}">Amount</span></small></label>
														<div class="input-group text-left">
															<div class="input-group-prepend">
																<span class="input-group-text"><span th:text="#{commerce.screen.common.currency.inr}"></span></span>
															</div>
															<input th:onChange="'changedAmount(\''+${itrStat.index} +'\',\''+ ${itrDenomination.index} +'\')'" type="number" step="0.01"
																th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"
																th:placeholder="#{commerce.screen.store.open.tender.amount}" class="form-control input-sm pos-amount" data-input="data-input"></input>
														</div>
														<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount')}"
															th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"
															class="text-danger align-top">Amount Error </small>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label><span></span></label>
														<div class="input-group text-left">
															<button type="button" name="addDenomination"
																th:onclick="'actionDenomination(\''+${itrStat.index} +'\',\''+ ${itrDenomination.index} +'\',\'addDenomination\',\'openRegisterForm\')'"
																class="btn btn-secondary btn-sm">
																<i class="fas fa-plus fa-2x"></i>
															</button>
															<button type="button" name="removeDenomination" th:if="${#lists.size(dailyDeedBean.tenders[__${itrStat.index}__].denominations)>1}"
																th:onclick="'actionDenomination(\''+${itrStat.index} +'\',\''+ ${itrDenomination.index} +'\',\'removeDenomination\',\'openRegisterForm\')'"
																class="btn btn-secondary btn-sm">
																<i class="fas fa-minus fa-2x"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
									<div class="row">
										<div class="col-3"></div>
										<div class="col-3 text-right">
											<h5>
												<span th:text="#{commerce.screen.common.tender.count.total}"></span>
											</h5>
											<h5>
												<input type="hidden" th:field="${dailyDeedBean.tenders[__${itrStat.index}__].calMCount}"></input> <span
													th:id="${itrStat.index+'lblMediaCount'}" th:text="${dailyDeedBean.tenders[__${itrStat.index}__].calMCount}">0</span>
											</h5>
										</div>
										<div class="col-3 text-right">
											<h5>
												<span th:text="#{commerce.screen.common.amount.total}"></span>
											</h5>
											<h5>
												<input type="hidden" th:field="${dailyDeedBean.tenders[__${itrStat.index}__].calTAmount}"></input> <span
													th:id="${itrStat.index+'lbltenderAmount'}" th:text="${dailyDeedBean.tenders[__${itrStat.index}__].calTAmount}">INR 0.00</span>
											</h5>
										</div>
									</div>
									<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].calTAmount')}"
										th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].calTAmount}" class="text-danger align-top">Tender Total Amount Error </small>
								</div>
							</th:block>
						</div>
						<div class="row">
							<div class="col-12 text-right">
								<div class="form-group">
									<button type="button" id="btnOpenRegister" name="openRegister" th:onclick="'submitForm(\'openRegisterForm\',\'openRegister\')'"
										th:class="${dailyDeedBean.register!=null?'btn btn-primary btn-sm':'btn btn-primary btn-sm d-none'}">
										<i class="fas fa-long-arrow-alt-right fa-6x"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script th:inline="javascript" th:if="${dailyDeedBean!=null}">
		$(function() {
			var referrer_url= /*[[${dailyDeedBean.referrerURL}]]*/;
			var url= /*[[@{/pos/sale(registerId)}]]*/;
			
			$('input:radio[name=register]').change(function(){
				var regValue=$(this).val();
				updateRegChangeValues(regValue);
				processRegisterRequest(regValue, url);
			   });
			
		});
	</script>
</body>
</html>