<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.store.open.title}">Store Open Screen</title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<link href="../../static/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}" rel="stylesheet" />
<script src="../../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
<script src="../../static/js/fontawesome.5.0.6.all.js" th:src="@{/js/fontawesome.5.0.6.all.js}"></script>
<link href="../../static/css/box_radio.css" th:href="@{/css/box_radio.css}" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card content-container">
				<div class="card-header">
					<h3 th:text="#{commerce.screen.store.open.header}">Select Store for Daily Deeds</h3>
				</div>
				<div class="card-body">
					<form id="openStoreForm" action="#" th:action="@{/open_store}" th:object="${dailyDeedBean}" method="post">
						<div class="box-radio-parent">
							<th:block th:each="location,itrStat:${locations}">
								<label> <input type="radio" name="locationRadio" id="locationRadio" th:field="*{locationId}" th:value="${location.locationId}"></input>
									<div class="box">
										<div class="row box-text">
											<div class="col-3">
												<span th:if="${location.locationType=='W'}"> <i class="fas fa-building fa-3x"></i>
												</span> <span th:if="${location.locationType=='S'}"> <i class="fas fa-home fa-3x"></i></span>
											</div>
											<div class="col">
												<div class="display-4">
													<span th:text="${location.locationId}"></span>
												</div>
												<div>
													<h3>
														<span th:text="${location.name}"></span>
													</h3>
												</div>
												<div>
													<span th:text="${location.address1}"></span>,
												</div>
												<div th:if="${!#strings.isEmpty(location.address2)}">
													<span th:text="${location.address2}"></span>,
												</div>
												<div>
													<span th:text="${location.city}"></span>, <span th:text="${location.state}"></span>,
												</div>
												<div>
													<span th:text="${location.country}">-<span th:text="${location.pincode}"></span>.
													</span>
												</div>
											</div>
										</div>
									</div>
								</label>
							</th:block>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label for="businessDate"><small><span th:text="#{commerce.screen.common.date.business}">Business Date</span></small></label>
									<div class="input-group text-left">
										<input type="text" th:field="*{businessDate}" class="form-control input-sm" data-input="data-input"
											th:placeholder="#{commerce.screen.common.date.select}"></input>
										<div class="input-group-append">
											<a class="btn btn-info btn-sm" title="toggle" data-toggle="data-toggle"><i class="fas fa-check"></i></a>
										</div>
									</div>
									<small th:if="${#fields.hasErrors('businessDate')}" th:errors="*{businessDate}" class="text-danger align-top">Business Date Error </small>
								</div>
							</div>
						</div>
						<th:block th:each="tender,itrStat:${dailyDeedBean.tenders}">
							<div class="row">
								<div class="col-2">
									<div class="form-group">
										<label><small><span th:text="#{commerce.screen.common.tender.type}">Tender Type</span></small></label>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label><h5>
												<span th:text="${tender.tndrType}">Cash</span>
											</h5></label>
									</div>
								</div>
							</div>
							<th:block th:each="dnmn,itrDenomination:${dailyDeedBean.tenders[__${itrStat.index}__].denominations}">
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<label for="type"><small><span th:text="#{commerce.screen.common.tender.denomination}">Tender Denominations</span></small></label>
											<div class="input-group text-left">
												<select th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denomination}"
													class="form-control input-sm">
													<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.common.tender.denomination.select}">Select
														Denomination</option>
													<th:block th:each="dnmnAmt,itrDnmnAmt:${dailyDeedBean.denominationList}">
														<option th:value="${dnmnAmt.number}" th:text="${dnmnAmt}"></option>
													</th:block>
												</select>
											</div>
											<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denomination')}"
												th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].denomination}"
												class="text-danger align-top">Denomination Error </small>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label th:for="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"><small><span
													th:text="#{commerce.screen.common.tender.count}">Media Count</span></small></label>
											<div class="input-group text-left">
												<input type="text" th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"
													th:placeholder="#{commerce.screen.store.open.tender.count}" class="form-control input-sm" data-input="data-input"></input>
											</div>
											<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount')}"
												th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].mediaCount}"
												class="text-danger align-top">Media Count Error </small>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label th:for="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"><small><span
													th:text="#{commerce.screen.common.amount}">Amount</span></small></label>
											<div class="input-group text-left">
												<input type="text" th:field="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"
													th:placeholder="#{commerce.screen.store.open.tender.amount}" class="form-control input-sm" data-input="data-input"></input>
											</div>
											<small th:if="${#fields.hasErrors('tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount')}"
												th:errors="${dailyDeedBean.tenders[__${itrStat.index}__].denominations[__${itrDenomination.index}__].amount}"
												class="text-danger align-top">Amount Error </small>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<button type="button" th:onclick="'actionDenomination(\'/open_store?addDenomination=&amp;tenderId='+${itrStat.index} +'\')'"
												class="btn btn-secondary btn-sm">
												<i class="fas fa-plus fa-4x"></i>
											</button>
											<button type="button" th:if="${#lists.size(dailyDeedBean.tenders[__${itrStat.index}__].denominations)>1}"
												th:onclick="'actionDenomination(\'/open_store?removeDenomination=&amp;tenderId='+${itrStat.index} +'&amp;id='+ ${itrDenomination.index} +'\')'"
												class="btn btn-secondary btn-sm">
												<i class="fas fa-minus fa-4x"></i>
											</button>
										</div>
									</div>
								</div>
							</th:block>
						</th:block>
					</form>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		$(function() {

		$('#businessDate').flatpickr({
			dateFormat : 'd-M-y',
		});});

		function actionDenomination(action) {

			$("#openStoreForm").attr("action", action);

			$('#openStoreForm').submit();
		}		
		
		/*]]>*/
	</script>
</body>
</html>