<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.gstr1.title}">GSTR1 Generation Screen</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<link rel="stylesheet" href="../../css/utils/datatables.min.css" th:href="@{/css/utils/datatables.min.css}" />
<link href="../../static/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}" rel="stylesheet" />
<script src="../../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
<script src="../../js/utils/pdfmake.min.js" th:src="@{/js/utils/pdfmake.min.js}"></script>
<script src="../../js/utils/vfs_fonts.js" th:src="@{/js/utils/vfs_fonts.js}"></script>
<script src="../../js/utils/datatables.min.js" th:src="@{/js/utils/datatables.min.js}"></script>
<script src="../../static/js/lookup/txn_lookup.js" th:src="@{/js/lookup/txn_lookup.js}"></script>
</head>
<body>
	<div id="wrapper">


		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->

			<div class="card content-container">
				<div class="card-header">
					<h3 th:text="#{commerce.screen.gstr1.header}">Provide Details for GSTR1 Generation</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<form class="form" id="searchTxnForm" action="#" th:action="@{/admin/generate_gstr1}" th:object="${gstrSearchBean}" method="post">
							<div class="row">

								<div class="col-3">
									<div class="form-group text-left">
										<label for="locationId"><small><span class="pos-mandatory" th:text="#{commerce.screen.common.location}">Location </span></small></label>
										<div class="input-group">
											<select th:field="*{locationId}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.gstr1.location.placeholder}">Select
															Location</option>
												<option th:each="location: ${locations}" th:value="${location.locationId}" th:text="${location.locationId} + ' - ' +${location.name}"></option>
											</select>
										</div>
										<small th:if="${#fields.hasErrors('locationId')}" th:errors="*{locationId}" class="text-danger">Location Error</small>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group text-left">

										<label for="txnType"><small><span class="pos-mandatory" th:text="#{commerce.screen.gstr1.year}">Select Financial Year</span></small></label>
										<div class="input-group">
											<select th:field="*{financialYear}" class="form-control input-sm">
												<option class="form-text text-muted" value="" th:text="#{commerce.screen.gstr1.year.placeholder}">Select Financial Year</option>
												<option th:each="financialYear: ${financialYears}" th:value="${financialYear.code}" th:text="${financialYear.desc}"></option>
											</select>

										</div>
										<div th:if="${#fields.hasErrors('financialYear')}" th:errors="*{financialYear}" class="text-danger">Financial Year Error</div>
									</div>
								</div>

								<div class="col-3">
									<div class="form-group text-left">

										<label for="txnType"><small><span class="pos-mandatory" th:text="#{commerce.screen.gstr1.month}">Select Financial Month</span></small></label>
										<div class="input-group">
											<select th:field="*{financialMonth}" class="form-control input-sm">
												<option class="form-text text-muted" value="" th:text="#{commerce.screen.gstr1.month.placeholder}">Select Financial Month</option>
												<option th:each="financialMonth: ${financialMonths}" th:value="${financialMonth.code}" th:text="${financialMonth.desc}"></option>
											</select>

										</div>
										<div th:if="${#fields.hasErrors('financialYear')}" th:errors="*{financialYear}" class="text-danger">Financial Year Error</div>
									</div>
								</div>

								<div class="col">
									<div class="form-group text-left">
										<label><small></small></label>
										<div class="input-group">
											<button type="submit" id="generateBtn" value="Generate" class="btn btn-info">
												<i class="fas fa-cogs fa-2x mx-2"></i> <span th:text="#{commerce.screen.gstr1.btn.generate}"></span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
					<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
					
					<div th:if="${gstr1JSON!=null}" class="m-3">
						<a target="_blank" th:href="@{/admin/get_gstr1_json(locationId=${gstrSearchBean.locationId},finMonth=${gstrSearchBean.financialMonth},finYear=${gstrSearchBean.financialYear})}"> <span th:text="#{commerce.screen.gstr1.link.download}"></span></a>
					</div>

				</div>
			</div>




		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>
</html>