<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.order.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
<script src="../../js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../../js/order/order_classes.js" th:src="@{/js/order/order_classes.js}"></script>
<script src="../../js/order/order.js" th:src="@{/js/order/order.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<form class="form" id="addForm" action="#" th:action="@{/admin/add_order}" th:object="${orderBeanDTO}" method="post">
				<div class="row m-3">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h3 th:text="#{commerce.screen.order.add}">Create Purchase Order</h3>
							</div>
							<div class="card-body">
								<div class="card-text">
									<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
									<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
									<div id="orderActions" class="col-12 p-4" th:if="${ alert!=null}">
										<a th:href="@{/admin/edit_order(orderId=${orderBeanDTO.order.orderId})}" class="btn btn-sm btn-info"
											th:if="${orderBeanDTO.order.status=='C'}"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
													class="far fa-file-powerpoint"></i> <i class="fas fa-pencil-alt" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.screen.actions.edit}"></span></a> <a th:href="@{/admin/add_order}" class="btn btn-sm btn-success"><span
											class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.home.menu.add.order}"></span></a> <a th:href="@{/admin/manage_order}" class="btn btn-sm btn-success"> <span
											class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-cog"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.home.menu.search.order}"></span>
										</a>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group text-left">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <span class="fa-layers fa-fw"> <i class="fas fa-users"></i> <i class="fas fa-search"
																data-fa-transform="shrink-10 right-12 up-4"></i>
														</span>
														</span>
													</div>
													<input type="hidden" th:field="*{order.supplierId}"></input> <input type="text" th:field="*{supplierSearch.searchText}"
														class="form-control input-sm" th:placeholder="#{commerce.screen.supplier.search.text}" placeholder="Enter keyword to search"
														aria-describedby="searchHelp"></input>
												</div>
												<small id="searchHelp" class="form-text text-muted" th:text="#{commerce.screen.supplier.search.keywords}">Enter keywords like
													id/Name/Email/Address/Phone#</small>
												<div th:if="${#fields.hasErrors('supplierSearch.searchText')}" th:errors="*{supplierSearch.searchText}" class="text-danger">Search
													Text Error</div>
												<div id="supplierMsg"></div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group text-left">
												<div class="input-group">
													<select th:field="*{order.locationId}" class="form-control input-sm">
														<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.inventory.location}">Select
															Location</option>
														<option th:each="location: ${orderBeanDTO.locations}" th:value="${location.locationId}"
															th:text="${location.locationId} + ' - ' +${location.name}"></option>
													</select>
												</div>
												<div th:if="${#fields.hasErrors('order.locationId')}" th:errors="*{order.locationId}" class="text-danger">Location Error</div>
												<div id="locationMsg"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.comments}">Comments</span></small></label>
												<div class="input-group text-left">
													<textarea rows="4" th:field="*{order.comments}" class="form-control input-sm"></textarea>
												</div>
												<div id="commentsMsg"></div>
											</div>
										</div>
									</div>
									<div class="orderitem">
										<div class="row">
											<div class="col-3 text-left">
												<h6>
													<span th:text="#{commerce.screen.order.item.details}"></span>
												</h6>
											</div>
											<div class="col padding-sm text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.qty}"></span>
												</h6>
											</div>
											<div class="col text-center">
												<h6>
													<span th:text="#{commerce.screen.order.unit.cost}"></span>
												</h6>
											</div>
											<div class="col text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.cost}"></span>
												</h6>
											</div>
											<div class="col-2 text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.tax}"></span>
												</h6>
											</div>
											<div class="col-3 text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.total}"></span>
												</h6>
											</div>
										</div>
										<div class="row">
											<div class="col-3"></div>
											<div class="col"></div>
											<div class="col"></div>
											<div class="col"></div>
											<div class="col-1 padding-sm text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.sgst}"></span>
												</h6>
											</div>
											<div class="col-1 padding-sm text-center">
												<h6>
													<span th:text="#{commerce.screen.order.item.cgst}"></span>
												</h6>
											</div>
											<div class="col-3"></div>
										</div>
										<th:block th:each="orderItem,itrStat:${orderBeanDTO.order.orderItems}">
											<div class="form-group">
												<div class="row">
													<div class="col-3">
														<div class="form-group text-left">
															<div class="input-group">
																<div class="input-group-prepend">
																	<span class="input-group-text"> <span class="fa-layers fa-fw"> <i class="fas fa-file-alt"
																			data-fa-transform="rotate-180"></i> <i class="fas fa-search" data-fa-transform="shrink-10 right-10 up-4"></i>
																	</span>
																	</span>
																</div>
																<input type="text" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemId}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.order.item}" maxlength="150"></input> <input type="hidden"
																	th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc}"></input>
															</div>
															<small id="itemSearchHelp" class="form-text text-muted" th:if="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc==null}"
																th:text="#{commerce.screen.item.search.keywords}">Enter keywords like Item#/Name/Description</small> <small id="itemSearchHelp"
																class="form-text text-muted" th:if="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc!=null}"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc}"> Item Name</small>
															<div th:if="${#fields.hasErrors('order.orderItems[__${itrStat.index}__].itemId')}"
																th:errors="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemId}" class="text-danger">Item Id Error</div>
														</div>
													</div>
													<div class="col padding-sm">
														<div class="form-group">
															<input type="text" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].orderedQty}" onChange="saleItemChanged(this);"
																class="form-control input-sm" th:placeholder="#{commerce.screen.order.qty}" maxlength="150"></input>
															<div th:if="${#fields.hasErrors('order.orderItems[__${itrStat.index}__].orderedQty')}"
																th:errors="${orderBeanDTO.order.orderItems[__${itrStat.index}__].orderedQty}" class="text-danger">Quantity Error</div>
														</div>
													</div>
													<div class="col padding-sm">
														<div class="form-group">
															<input type="text" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].unitCost}" onChange="saleItemChanged(this);"
																class="form-control input-sm" th:placeholder="#{commerce.screen.order.cost}" maxlength="150"></input>
															<div th:if="${#fields.hasErrors('order.orderItems[__${itrStat.index}__].unitCost')}"
																th:errors="${orderBeanDTO.order.orderItems[__${itrStat.index}__].unitCost}" class="text-danger">Cost Error</div>
														</div>
													</div>
													<div class="col padding-sm text-center">
														<div class="form-group">
															<label> <span th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_costAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].costAmount}"></span> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].costAmount}"></input>
															</label>
														</div>
													</div>
													<div class="col-1 padding-sm text-center">
														<div class="form-group">
															<label><span th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_sgstTaxAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstTaxAmount}"></span></label>
															<div>
																<small>(<span th:id="'lbl_'+${itrStat.index}+'_sgstRate'"
																	th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRate}"></span> %)
																</small>
															</div>
														</div>
													</div>
													<div class="col-1 padding-sm text-center">
														<div class="form-group">
															<label><span th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_cgstTaxAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstTaxAmount}"></span></label>
															<div>
																<small>(<span th:id="'lbl_'+${itrStat.index}+'_cgstRate'"
																	th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRate}"></span> %)
																</small>
															</div>
															<input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].taxGroupId}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstCode}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstCode}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstCode}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRateRuleId}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRateRuleId}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstRateRuleId}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRate}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRate}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstRate}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].taxAmount}"></input>
														</div>
													</div>
													<div class="col-3 text-right">
														<div class="form-group">
															<label><h6>
																	<span th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_totalCost'"
																		th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].totalCost}"></span>
																</h6></label> <input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].totalCost}"></input> <span> </span>
															<button type="submit" name="addOrderItem" class="btn btn-secondary btn-sm">
																<i class="far fa-plus-square fa-2x"></i>
															</button>
															<button type="button" th:if="${#lists.size(orderBeanDTO.order.orderItems)>1}"
																th:onclick="'deleteItem(\'/admin/add_order?removeOrderItem=&amp;id='+ ${itrStat.index} +'\')'" class="btn btn-secondary btn-sm">
																<i class="far fa-minus-square fa-2x"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<div class="form-group">
												<label></label>
												<div class="input-group text-left">
													<button type="submit" name="saveOrder" value="Save" class="btn btn-info mx-2"
														th:if="${orderBeanDTO.order.status==null || orderBeanDTO.order.status=='C'}">
														<i class="far fa-save fa-2x mx-2"></i> <span th:text="#{commerce.screen.btn.submit.save}"></span>
													</button>
													<button type="submit" name="approveOrder" value="Approve" class="btn btn-info"
														th:if="${orderBeanDTO.order.status==null || orderBeanDTO.order.status=='C'}">
														<i class="fas fa-check fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.approve}"></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div id="supplierDetails" th:class="${orderBeanDTO.order.supplier.supplierId==null}?'d-none':''">
							<div class="card border-box-filled">
								<input type="hidden" th:field="*{order.supplier.supplierId}"></input> <input type="hidden" th:field="*{order.supplier.name}"></input> <input
									type="hidden" th:field="*{order.supplier.phone1}"></input> <input type="hidden" th:field="*{order.supplier.phone2}"></input> <input
									type="hidden" th:field="*{order.supplier.email}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.addressId}"></input>
								<input type="hidden" th:field="*{order.supplier.primaryAddress.addressType}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.primary}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.address1}"></input>
								<input type="hidden" th:field="*{order.supplier.primaryAddress.address2}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.city}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.state}"></input> <input
									type="hidden" th:field="*{order.supplier.primaryAddress.country}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.pincode}"></input>
								<div class="card-body">
									<div class="row">
										<div class="col-4">
											<div class="card-text">
												<h4>
													<span th:text="#{commerce.screen.order.supplier.address}"></span>
												</h4>
											</div>
											<div class="card-text my-3">
												<div class="fa-3x">
													<span class="fa-layers fa-fw"> <i class="fas fa-map-marker"></i> <i class="fas fa-circle color-blue"
														data-fa-transform="shrink-10 up-2"></i></span>
												</div>
											</div>
										</div>
										<div class="col-8">
											<div class="row">
												<div class="col-2">
													<i class="fas fa-address-card"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryAddress1" th:text="${orderBeanDTO.order.supplier.primaryAddress.address1}"></span></small>
													</div>
												</div>
											</div>
											<div class="row" th:if="${orderBeanDTO.order.supplier.primaryAddress.address2!=null}">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryAddress2" th:text="${orderBeanDTO.order.supplier.primaryAddress.address2}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryCity" th:text="${orderBeanDTO.order.supplier.primaryAddress.city}"></span>, <span
															th:text="${orderBeanDTO.order.supplier.primaryAddress.state}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryCountry" th:text="${orderBeanDTO.order.supplier.primaryAddress.country}"></span>, <span
															th:text="${orderBeanDTO.order.supplier.primaryAddress.pincode}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2">
													<i class="fas fa-phone" data-fa-transform="flip-h"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="supplierPhone" th:text="${orderBeanDTO.order.supplier.phone1}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2">
													<i class="fas fa-envelope"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="supplierEmail" th:text="${orderBeanDTO.order.supplier.email}"></span></small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="orderTotals">
							<div class="card border-box-filled">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.subtotal}">Sub Total Cost</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.estimatedCost}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_estimatedCost"
															th:text="${orderBeanDTO.order.estimatedCost}"></span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax}">Total Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.taxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_taxAmount" th:text="${orderBeanDTO.order.taxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax.sgst}">Total SGST Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.sgstTaxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_sgstTaxAmount"
															th:text="${orderBeanDTO.order.sgstTaxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax.cgst}">Total CGST Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.cgstTaxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_cgstTaxAmount"
															th:text="${orderBeanDTO.order.cgstTaxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.amount}">Total Amount</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.totalAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_totalAmount" th:text="${orderBeanDTO.order.totalAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- Order Report Lookup Modal-->
	<div class="modal fade " id="orderReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{commerce.screen.order.report.print}"> Purchase Order Report</span>
					</h5>
				</div>
				<div class="modal-body text-center">
					<div id="receiptActions" class="col-12 text-center">
						<button type="button" class="btn btn-info p-3 m-2" id="btnViewOrderReport">
							<div class="fa-5x">
								<i class="fas fa-file-alt"></i>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnPrintReportAndNewOrder">
							<div class="fa-5x">
								<i class="fas fa-print"></i>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnEditOrder" th:if="${orderBeanDTO.order.status=='C'}">
							<div class="fa-5x">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-pencil-alt"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnApproveOrder" th:if="${orderBeanDTO.order.status=='C'}">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-check"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnReceiveOrder" th:if="${orderBeanDTO.order.status=='A'}">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-arrow-left"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnNewOrder">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
					</div>
					<div class="col-12 d-none text-center" id="progressDiv">
						<i class="fas fa-cog fa-spin fa-5x"></i>
						<div>
							<span th:text="#{commerce.screen.order.report.generate}"></span>
						</div>
					</div>
					<iframe id="reportPDFContainer" class="p-5" width="90%" height="90%" frameBorder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		var txn_orderId = /*[[${orderBeanDTO.order.orderId}]]*/;
		var newOrderURL = /*[[@{/admin/add_order}]]*/;
		var editOrderURL = /*[[@{/admin/edit_order(orderId)}]]*/;
		var approveOrderURL = /*[[@{/admin/approve_order(orderId)}]]*/;
		var receiveOrderURL = /*[[@{/admin/receive_order(orderId)}]]*/;
		var txn_success = /*[[${success}]]*/;
		
		var print_rcpt_url= /*[[@{/admin/print_order_report(orderId)}]]*/;
		var view_rcpt_url= /*[[@{/admin/view_order_report(orderId)}]]*/;
		var view_rcpt_viewer_url= /*[[@{/pdfviewer/web/viewer.html}]]*/;	
		
		
		if(txn_success && txn_success!='undefined' && txn_success!=''){
			postOrderSave();
		}
		
		/*]]>*/
	</script>
</body>
</html>