<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<title th:text="#{commerce.screen.order.search.title}">Purchase Order Management Page</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
<script src="../../js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../../js/order/order_classes.js" th:src="@{/js/order/order_classes.js}"></script>
<script src="../../js/order/order.js" th:src="@{/js/order/order.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/admin_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card m-5">
				<div class="card-header">
					<h3 th:text="#{commerce.screen.order.search}">Search Purchase Order</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<form class="form" id="searchForm" action="#" th:action="@{/admin/manage_order}" th:object="${searchBean}" method="post">
							<div class="row">
								<div class="col-7">
									<div class="form-group text-left">
										<div class="input-group">
											<input type="text" th:field="*{searchText}" class="form-control input-sm" th:placeholder="#{commerce.screen.order.search.text}"
												placeholder="Enter keyword to search" aria-describedby="searchHelp"> </input>
												<div class="input-group-append">
											<button type="submit" value="Search" class="btn btn-info">
												<i class="fas fa-search fa-2x mx-2"></i> <span th:text="#{commerce.screen.btn.search}"></span>
											</button>
											<a th:if="${orders==null or orders.orders==null or #lists.size(orders.orders)&lt;1}" href="add_order.html" th:href="@{/admin/add_order}"
												class="btn btn-success btn-sm"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
														class="far fa-file-powerpoint"></i> <i class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
												</span>
											</span><span th:text="#{commerce.screen.order.add}">Add</span></a>
											</div>
										</div>
										<small id="searchHelp" class="form-text text-muted" th:text="#{commerce.screen.order.search.keywords}">Enter keywords like Purchase
											Order id/Supplier Id/Item Id/Location Id</small>
										<div th:if="${#fields.hasErrors('searchText')}" th:errors="*{searchText}" class="text-danger">Search Text Error</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="card-text">
						<div id="manageMsgs" class="alert alert-success d-none" role="alert"></div>
						<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
						<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
						<form class="form" id="bulkForm" action="#" th:action="@{/admin/bulk_order_action}" th:object="${orders}" method="post"
							th:if="${orders!=null and orders.orders!=null and #lists.size(orders.orders)>0}">
							<div class="row">
								<div class="col-12 text-right">
									<nav aria-label="Pagination" th:if="${pager!=null}">
										<ul class="pagination pagination-sm justify-content-end">
											<li th:class="${pager.firstPage} ? 'page-item disabled': 'page-item'"><a class="page-link" href="#" tabindex="-1"
												th:onclick="'searchResults(\'/search_item?page=1\')'">First</a></li>
											<th:block th:each="page,itrStat:${pager.displayPages}">
												<li th:class="${pager.currentPageNo == page} ? 'page-item active': 'page-item'"><a class="page-link" href="#"
													th:onclick="'searchResults(\'/search_item?page='+${page}+'\')'"><span th:text="${page}"></span></a></li>
											</th:block>
											<li th:class="${pager.lastPage} ? 'page-item disabled': 'page-item'"><a class="page-link" href="#"
												th:onclick="'searchResults(\'/search_item?page='+${pager.lastPageNo}+'\')'">Last</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-hover table-bordered">
									<thead class="thead-light">
										<tr>
											<th scope="col-1" th:text="#{commerce.screen.common.id}">Select</th>
											<th scope="col-1" th:text="#{commerce.screen.order.no}">Order#</th>
											<th scope="col-2" th:text="#{commerce.screen.order.comments}">Comments</th>
											<th scope="col-2" th:text="#{commerce.screen.order.supplier}">Supplier Id</th>
											<th scope="col-1" th:text="#{commerce.screen.order.status}">Status</th>
											<th scope="col-2" th:text="#{commerce.screen.order.date}">Created Date</th>
											<th scope="col-1" th:text="#{commerce.screen.order.user}">Created By</th>
											<th scope="col-2" th:text="#{commerce.screen.actions}">Actions</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="order,itrStat:${orders.orders}">
											<tr>
												<td><input type="checkbox" th:onclick="'javascript:selectFunc(\''+${itrStat.index}+'\',this)'"
													class="form-control form-control-sm orderId" th:field="*{orderIds}"
													th:value="${orders.orders[__${itrStat.index}__].orderId}+'_'+${itrStat.index}"></input></td>
												<td><span th:text="${orders.orders[__${itrStat.index}__].orderId}"></span> <input type="hidden"
													th:field="${orders.orders[__${itrStat.index}__].orderId}"></input></td>
												<td class="text-wrap"><span th:text="${orders.orders[__${itrStat.index}__].comments}"></span></td>
												<td><span th:text="${orders.orders[__${itrStat.index}__].supplierId +' - '+ orders.orders[__${itrStat.index}__].supplier.name}"></span></td>
												<td><span th:text="${orders.orders[__${itrStat.index}__].status +' - '+ orders.orders[__${itrStat.index}__].displayStatus}"></span> <input
													type="hidden" th:field="${orders.orders[__${itrStat.index}__].status}"></input></td>
												<td><span th:text="${orders.orders[__${itrStat.index}__].createdDate}"></span></td>
												<td><span th:text="${orders.orders[__${itrStat.index}__].createdBy}"></span></td>
												<td>
													<div class="btn-group">
														<a th:if="${orders.orders[__${itrStat.index}__].status=='C'}"
															th:href="@{/admin/approve_order(orderId=${orders.orders[__${itrStat.index}__].orderId})}" href="../order/manage_order.html"
															class="btn btn-success btn-sm"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
																	class="far fa-file-powerpoint"></i> <i class="fas fa-check" data-fa-transform="shrink-10 right-10 up-4"></i>
															</span>
														</span><span th:text="#{commerce.screen.actions.approve}">Approve</span></a> <a th:if="${orders.orders[__${itrStat.index}__].status=='A'}"
															th:href="@{/admin/receive_order(orderId=${orders.orders[__${itrStat.index}__].orderId})}" href="../order/receive_order.html"
															class="btn btn-success btn-sm"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
																	class="far fa-file-powerpoint"></i> <i class="fas fa-arrow-left" data-fa-transform="shrink-10 right-10 up-4"></i>
															</span>
														</span><span th:text="#{commerce.screen.actions.receive}">Receive</span></a> <a th:if="${orders.orders[__${itrStat.index}__].status=='C'}"
															th:href="@{/admin/delete_order(orderId=${orders.orders[__${itrStat.index}__].orderId})}" href="../order/manage_order.html"
															class="btn btn-danger btn-sm"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
																	class="far fa-file-powerpoint"></i> <i class="fas fa-times" data-fa-transform="shrink-10 right-10 up-4"></i>
															</span>
														</span><span th:text="#{commerce.screen.actions.delete}">Delete</span></a> <a th:if="${orders.orders[__${itrStat.index}__].status=='C'}"
															th:href="@{/admin/edit_order(orderId=${orders.orders[__${itrStat.index}__].orderId})}" href="../order/edit_order.html"
															class="btn btn-secondary btn-sm"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
																	class="far fa-file-powerpoint"></i> <i class="fas fa-pencil-alt" data-fa-transform="shrink-10 right-10 up-4"></i>
															</span>
														</span><span th:text="#{commerce.screen.actions.edit}">Edit</span></a> <a
															th:href="'javascript:printOrderReportById('+${orders.orders[__${itrStat.index}__].orderId}+')'" href="../order/print_order.html"
															class="btn btn-secondary btn-sm"><span class="fa-2x"><i class="fas fa-print mx-2"></i></span><span
															th:text="#{commerce.screen.actions.print}">Print</span></a>
													</div>
												</td>
											</tr>
										</th:block>
										<tr>
											<td><a th:href="'javascript:selectAll()'" href="#" class="badge badge-secondary"><span
													th:text="#{commerce.screen.actions.selectall}">Select All</span></a></td>
											<td class="text-left"><a th:href="'javascript:deselectAll()'" href="#" class="badge badge-secondary"><span
													th:text="#{commerce.screen.actions.deselectall}">Deselect All</span></a></td>
											<td colspan="6">
										
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-12 text-right">
									<nav aria-label="Pagination" th:if="${pager!=null}">
										<ul class="pagination pagination-sm justify-content-end">
											<li th:class="${pager.firstPage} ? 'page-item disabled': 'page-item'"><a class="page-link" href="#" tabindex="-1"
												th:onclick="'searchResults(\'/search_item?page=1\')'">First</a></li>
											<th:block th:each="page,itrStat:${pager.displayPages}">
												<li th:class="${pager.currentPageNo == page} ? 'page-item active': 'page-item'"><a class="page-link" href="#"
													th:onclick="'searchResults(\'/search_item?page='+${page}+'\')'"><span th:text="${page}"></span></a></li>
											</th:block>
											<li th:class="${pager.lastPage} ? 'page-item disabled': 'page-item'"><a class="page-link" href="#"
												th:onclick="'searchResults(\'/search_item?page='+${pager.lastPageNo}+'\')'">Last</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<div class="form-group">
										<button type="button" th:onclick="'submitForm(\'/admin/bulk_order_action?deleteOrders=\')'" id="btnDelete" value="Delete"
											class="btn btn-danger btn-sm" aria-describedby="bulkHelp" disabled="disabled">
											<span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-times"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
											</span><span th:text="#{commerce.screen.btn.submit.delete}"></span>
										</button>
										<button type="button" th:onclick="'submitForm(\'/admin/bulk_order_action?approveOrders=\')'" id="btnApprove" value="Approve"
											class="btn btn-success btn-sm" aria-describedby="bulkHelp" disabled="disabled">
											<span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-check"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
											</span><span th:text="#{commerce.screen.btn.submit.approve}"></span>
										</button>
										<a href="add_order.html" th:href="@{/admin/add_order}" class="btn btn-info btn-sm"><span class="fa-2x mr-2"> <span
												class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span><span th:text="#{commerce.screen.order.add}">Add</span></a> <a href="print_orders.html" th:href="@{/admin/print_orders}"
											class="btn btn-info btn-sm"><span class="fa-2x"><i class="fas fa-print mx-2"></i></span><span th:text="#{commerce.screen.btn.print}">Print</span></a>
									</div>
								</div>
							</div>
							<div class="row text-left">
								<div class="col-4">
									<small id="btnActions" class="form-text text-muted" th:text="#{commerce.screen.search.action.bulk}">Please select records for the
										actions</small>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script th:inline="javascript" th:if="${orders!=null and orders.orders!=null and #lists.size(orders.orders)>0}">
	/*<![CDATA[*/
	
	    var totalRecords = [[${#lists.size(orders.orders)}]];
	
	
		var newOrderURL = /*[[@{/admin/add_order}]]*/;
		var editOrderURL = /*[[@{/admin/edit_order(orderId)}]]*/;
		var approveOrderURL = /*[[@{/admin/approve_order(orderId)}]]*/;
		var receiveOrderURL = /*[[@{/admin/receive_order(orderId)}]]*/;
		
		var print_rcpt_url= /*[[@{/admin/print_order_report(orderId)}]]*/;
		var view_rcpt_url= /*[[@{/admin/view_order_report(orderId)}]]*/;
		var view_rcpt_viewer_url= /*[[@{/pdfviewer/web/viewer.html}]]*/;			
		
					
	
	/*]]>*/
	</script>
	<script>
	
	
		function searchResults(action) {
	
			$("#searchForm").attr("action", action);
	
			$('#searchForm').submit();
		}

	
	
		var cbCounter = 0;

		function selectAll() {

			$(".orderId").prop('checked', true);
			
			$("#btnApprove").removeAttr("disabled");
			$("#btnDelete").removeAttr("disabled");

			cbCounter = totalRecords;

		}

		function deselectAll() {

			$(".orderId").prop('checked', false);
			$("#btnApprove").attr("disabled", "disabled");
			$("#btnDelete").attr("disabled", "disabled");
			cbCounter = 0;

		}

		function submitForm(action) {

			$("#bulkForm").attr("action", action);

			$('#bulkForm').submit();
		}

		function selectFunc(index, cb) {

			if (cb.checked) {
				if (cbCounter == 0) {
					$("#btnApprove").removeAttr("disabled");
					$("#btnDelete").removeAttr("disabled");
				}
				cbCounter++;
			} else {
				if (cbCounter == 1 || cbCounter == 0) {
					$("#btnApprove").attr("disabled", "disabled");
					$("#btnDelete").attr("disabled", "disabled");
				}
				cbCounter--;

			}
		}
	</script>
</body>
</html>