<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.order.receive.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<link href="../../static/css/flatpickr.min.css" th:href="@{/css/flatpickr.min.css}" rel="stylesheet" />
<script src="../../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
<script src="../../js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../../js/order/order_classes.js" th:src="@{/js/order/order_classes.js}"></script>
<script src="../../js/order/order.js" th:src="@{/js/order/order.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<form class="form" id="addForm" action="#" th:action="@{/admin/receive_order}" th:object="${orderBeanDTO}" enctype="multipart/form-data"
				method="post">
				<div class="row m-3">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h3 th:text="#{commerce.screen.order.receive}">Receive Purchase Order</h3>
							</div>
							<div class="card-body">
								<div class="card-text">
									<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
									<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
									<div id="orderActions" class="col-12 p-4" th:if="${ alert!=null}">
										<a th:href="@{/admin/edit_order(orderId=${orderBeanDTO.order.orderId})}" class="btn btn-sm btn-info"
											th:if="${orderBeanDTO.order.status=='C'}"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
													class="far fa-file-powerpoint"></i> <i class="fas fa-pencil-alt" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.screen.actions.edit}"></span></a> <a th:href="@{/admin/add_order}" class="btn btn-sm btn-success"><span
											class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.home.menu.add.order}"></span></a> <a th:href="@{/admin/manage_order}" class="btn btn-sm btn-success"> <span
											class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-cog"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span>
										</span> <span th:text="#{commerce.home.menu.search.order}"></span>
										</a>
									</div>
									<div class="row">
										<div class="col-2">
											<label><small><span th:text="#{commerce.screen.order.id}">Order Id</span></small></label>
										</div>
										<div class="col-4">
											<div class="input-group text-left">
												<label><h5>
														<span id="lbl_orderId" th:text="${orderBeanDTO.order.orderId}"></span> <input type="hidden" th:field="*{order.orderId}"></input>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-2">
											<label><small><span th:text="#{commerce.screen.order.supplier}">Supplier</span></small></label>
										</div>
										<div class="col-4">
											<div class="form-group">
												<div class="input-group text-left">
													<label><h5>
															<span id="lbl_supplier" th:text="${orderBeanDTO.order.supplierId}"></span> - <span id="lbl_supplier_name"
																th:text="${orderBeanDTO.order.supplier.name}"></span>
														</h5></label> <input type="hidden" th:field="*{order.supplierId}"></input> <input type="hidden" th:field="*{order.createdBy}"></input> <input
														type="hidden" th:field="*{order.createdDate}"></input> <input type="hidden" th:field="*{order.status}"></input>
												</div>
											</div>
										</div>
										<div class="col-2 text-right">
											<label><small><span th:text="#{commerce.screen.order.location}">Location</span></small></label>
										</div>
										<div class="col-4">
											<div class="form-group">
												<div class="input-group  text-left">
													<label><h5>
															<span th:text="${orderBeanDTO.order.locationId}"></span> - <span th:text="${orderBeanDTO.order.locationName}"></span> <input
																type="hidden" th:field="*{order.locationId}"></input>
														</h5></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.comments}">Comments</span></small></label>
												<div class="input-group text-left">
													<textarea rows="4" th:field="*{order.comments}" class="form-control input-sm"></textarea>
												</div>
												<div id="commentsMsg"></div>
											</div>
										</div>
									</div>
									<div class="orderitem">
										<th:block th:each="orderItem,itrStat:${orderBeanDTO.order.orderItems}">
											<div class="form-group">
												<div class="row">
													<div class="col col-width-sm">
														<div class="form-group text-left">
															<label> <small><span th:text="#{commerce.screen.order.item.serial}"></span></small>
															</label><br /> <span th:text="${itrStat.index+1}"></span>
														</div>
													</div>
													<div class="col-2 padding-sm">
														<div class="form-group text-left">
															<label> <small><span th:text="#{commerce.screen.order.item.details}"></span></small>
															</label><br /> <span th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemId}"></span><br />
															<div>
																<span th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc}"></span>
															</div>
															<input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemId}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].itemDesc}"></input>
														</div>
													</div>
													<div class="col padding-sm">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.item.qty}"></span></small> </label><br /> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].orderedQty}"></input> <span
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].orderedQty}"></span>
														</div>
													</div>
													<div class="col padding-sm">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.unit.cost}"></span></small> </label> <br /> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].unitCost}"></input> <span
																th:text="#{commerce.screen.common.currency.inr}"></span> <span
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].unitCost}"></span>
														</div>
													</div>
													<div class="col padding-sm text-center">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.item.cost}"></span></small> </label><br /> <label> <span
																th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_costAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].costAmount}"></span> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].costAmount}"></input>
															</label>
														</div>
													</div>
													<div class="col-2 padding-sm text-center">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.item.tax}"></span></small> </label> <br /> <label><span
																th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_sgstTaxAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].taxAmount}"></span></label>
															<div>
																<small>(<span th:id="'lbl_'+${itrStat.index}+'_sgstRate'"
																	th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRate+orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRate}"></span>
																	%)
																</small>
															</div>
														</div>
														<input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstTaxAmount}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstTaxAmount}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstTaxAmount}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].taxGroupId}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstCode}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstCode}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstCode}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRateRuleId}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRateRuleId}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstRateRuleId}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstRate}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstRate}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstRate}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].taxAmount}"></input>
													</div>
													<div class="col-2">
														<div class="form-group text-center">
															<label> <small><b><span th:text="#{commerce.screen.order.item.total}"></span></b></small>
															</label><br /> <label> <span th:text="#{commerce.screen.common.currency.inr}"></span> <span
																th:id="'lbl_'+${itrStat.index}+'_totalCost'" th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].totalCost}"></span>
															</label> <input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].totalCost}"></input> <span> </span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col col-width-sm"></div>
													<div class="col-2"></div>
													<div class="col padding-sm">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.qty.delievered}"></span></small> </label><br /> <input type="text"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].delieveredQty}" onChange="actualDetailsChanged(this);"
																class="form-control input-sm" th:placeholder="#{commerce.screen.order.qty}" maxlength="150"></input>
															<div th:if="${#fields.hasErrors('order.orderItems[__${itrStat.index}__].delieveredQty')}"
																th:errors="${orderBeanDTO.order.orderItems[__${itrStat.index}__].delieveredQty}" class="text-danger">Quantity Error</div>
														</div>
													</div>
													<div class="col padding-sm">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.cost.actual}"></span></small> </label> <br /> <input type="text"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualUnitCost}" onChange="actualDetailsChanged(this);"
																class="form-control input-sm" th:placeholder="#{commerce.screen.order.cost}" maxlength="150"></input>
															<div th:if="${#fields.hasErrors('order.orderItems[__${itrStat.index}__].actualUnitCost')}"
																th:errors="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualUnitCost}" class="text-danger">Cost Error</div>
														</div>
													</div>
													<div class="col padding-sm text-center">
														<div class="form-group">
															<label> <small><span th:text="#{commerce.screen.order.cost.item.actual}"></span></small>
															</label> <br /> <label> <span th:text="#{commerce.screen.common.currency.inr}"></span> <span
																th:id="'lbl_'+${itrStat.index}+'_actualCostAmount'" th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualCostAmount}"></span>
																<input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualCostAmount}"></input>
															</label>
														</div>
													</div>
													<div class="col-2 padding-sm text-center">
														<div class="form-group">
															<label><small> <span th:text="#{commerce.screen.order.tax.actual}"></span></small> </label> <br /> <label><span
																th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_actualTaxAmount'"
																th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualTaxAmount}"></span></label> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].sgstActualTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].cgstActualTaxAmount}"></input> <input type="hidden"
																th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].igstActualTaxAmount}"></input>
														</div>
													</div>
													<div class="col-2">
														<div class="form-group text-center">
															<label><small><b> <span th:text="#{commerce.screen.order.cost.total.actual}"></span></b></small> </label><br />
															<div>
																<label><h6>
																		<span th:text="#{commerce.screen.common.currency.inr}"></span> <span th:id="'lbl_'+${itrStat.index}+'_actualTotalCost'"
																			th:text="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualTotalCost}"></span>
																	</h6></label>
															</div>
															<input type="hidden" th:field="${orderBeanDTO.order.orderItems[__${itrStat.index}__].actualTotalCost}"></input> <span> </span>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
									<div class="orderitem" th:if="${orderBeanDTO.order.orderBills!=null and #lists.size(orderBeanDTO.order.orderBills)>0}">
										<div class="form-group" th:each="orderBill,itrStat:${orderBeanDTO.order.orderBills}">
											<div class="row">
												<div class="col">
													<div class="form-group">
														<label><small><span th:text="#{commerce.screen.order.bill.no}">Bill No</span></small></label>
														<div class="input-group">
															<input type="text" class="form-control input-sm" th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billNo}"
																th:placeholder="#{commerce.screen.order.bill.no.text}"></input>
														</div>
														<div th:if="${#fields.hasErrors('order.orderBills[__${itrStat.index}__].billNo')}"
															th:errors="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billNo}" class="text-danger">Order Bill No Error</div>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label><small><span th:text="#{commerce.screen.order.bill.date}">Bill Date</span></small></label>
														<div class="input-group">
															<input type="text" class="form-control input-sm" th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billDate}"
																th:placeholder="#{commerce.screen.order.bill.date.text}"></input>
														</div>
														<div th:if="${#fields.hasErrors('order.orderBills[__${itrStat.index}__].billDate')}"
															th:errors="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billDate}" class="text-danger">Order Bill Date Error</div>
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label><small><span th:text="#{commerce.screen.order.bill.file.url}">Bill File URL</span></small></label>
														<div class="input-group">
															<input type="file" class="form-control input-sm" th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFile}"></input>
														</div>
														<div th:if="${#fields.hasErrors('order.orderBills[__${itrStat.index}__].billFile')}"
															th:errors="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFile}" class="text-danger">Order Bill File Error</div>
														<input type="hidden" th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].hiddenBill}"></input>
														<input type="hidden" th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].orderId}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFileType}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFileURL}"></input> <input type="hidden"
															th:field="${orderBeanDTO.order.orderBills[__${itrStat.index}__].orderBillId}"></input> <a target="_blank"
															th:if="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFileURL!=null}"
															th:href="@{/admin/view_order_bill(billId=${orderBeanDTO.order.orderBills[__${itrStat.index}__].orderBillId})}"><span
															th:text="${orderBeanDTO.order.orderBills[__${itrStat.index}__].billFileURL}"></span></a>
													</div>
												</div>
												<div class="col">
													<div class="form-group">
														<label></label>
														<div class="input-group">
															<button type="submit" name="addOrderBill" class="btn btn-info mx-2">
																<i class="fas fa-plus fa-2x"></i>
															</button>
															<button type="submit" name="removeOrderBill" class="btn btn-info" th:value="${itrStat.index}"
																th:if="${#lists.size(orderBeanDTO.order.orderBills)>1}">
																<i class="fas fa-minus fa-2x"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" th:if="${ alert==null}">
										<div class="col-xs-12 col-sm-12  col-md-12">
											<div class="form-group">
												<label></label>
												<div class="input-group text-left">
													<button type="submit" name="saveOrder" value="Save" class="btn btn-info mx-2" th:if="${orderBeanDTO.order.status=='A'}">
														<i class="far fa-save fa-2x mx-2"></i> <span th:text="#{commerce.screen.btn.submit.save}"></span>
													</button>
													<button type="submit" name="receiveOrder" value="Receive" class="btn btn-info mx-2" th:if="${orderBeanDTO.order.status=='A'}">
														<i class="fas fa-arrow-left fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.receive}"></span>
													</button>
													<button type="submit" name="receiveAllOrder" value="Receive" class="btn btn-info mx-2" th:if="${orderBeanDTO.order.status=='A'}">
														<span class="fa-2x"> <span class="fa-layers fa-fw"> <i class="fas fa-arrow-left" data-fa-transform="shrink-8 up-4"></i> <i
																class="fas fa-arrow-left" data-fa-transform="shrink-8 down-4"></i>
														</span>
														</span> <span th:text="#{commerce.screen.btn.submit.receive.all}"></span>
													</button>
													<button type="submit" name="addOrderBill" class="btn btn-info mx-2"
														th:if="${orderBeanDTO.order.orderBills==null or #lists.size(orderBeanDTO.order.orderBills)&lt;1}">
														<i class="fas fa-plus fa-2x mx-2"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div id="supplierDetails" th:class="${orderBeanDTO.order.supplier.supplierId==null}?'d-none':''">
							<div class="card border-box-filled">
								<input type="hidden" th:field="*{order.supplier.supplierId}"></input> <input type="hidden" th:field="*{order.supplier.name}"></input> <input
									type="hidden" th:field="*{order.supplier.phone1}"></input> <input type="hidden" th:field="*{order.supplier.phone2}"></input> <input
									type="hidden" th:field="*{order.supplier.email}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.addressId}"></input>
								<input type="hidden" th:field="*{order.supplier.primaryAddress.addressType}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.primary}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.address1}"></input>
								<input type="hidden" th:field="*{order.supplier.primaryAddress.address2}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.city}"></input> <input type="hidden" th:field="*{order.supplier.primaryAddress.state}"></input> <input
									type="hidden" th:field="*{order.supplier.primaryAddress.country}"></input> <input type="hidden"
									th:field="*{order.supplier.primaryAddress.pincode}"></input>
								<div class="card-body">
									<div class="row">
										<div class="col-4">
											<div class="card-text">
												<h4>
													<span th:text="#{commerce.screen.order.supplier.address}"></span>
												</h4>
											</div>
											<div class="card-text my-3">
												<div class="fa-3x">
													<span class="fa-layers fa-fw"> <i class="fas fa-map-marker"></i> <i class="fas fa-circle color-blue"
														data-fa-transform="shrink-10 up-2"></i></span>
												</div>
											</div>
										</div>
										<div class="col-8">
											<div class="row">
												<div class="col-2">
													<i class="fas fa-address-card"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryAddress1" th:text="${orderBeanDTO.order.supplier.primaryAddress.address1}"></span></small>
													</div>
												</div>
											</div>
											<div class="row" th:if="${orderBeanDTO.order.supplier.primaryAddress.address2!=null}">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryAddress2" th:text="${orderBeanDTO.order.supplier.primaryAddress.address2}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryCity" th:text="${orderBeanDTO.order.supplier.primaryAddress.city}"></span>, <span
															th:text="${orderBeanDTO.order.supplier.primaryAddress.state}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2"></div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="primaryCountry" th:text="${orderBeanDTO.order.supplier.primaryAddress.country}"></span>, <span
															th:text="${orderBeanDTO.order.supplier.primaryAddress.pincode}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2">
													<i class="fas fa-phone" data-fa-transform="flip-h"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="supplierPhone" th:text="${orderBeanDTO.order.supplier.phone1}"></span></small>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-2">
													<i class="fas fa-envelope"></i>
												</div>
												<div class="col text-left">
													<div class="card-text">
														<small><span id="supplierEmail" th:text="${orderBeanDTO.order.supplier.email}"></span></small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Estimated Total Starts here -->
						<div id="orderTotals">
							<div class="card border-box-filled">
								<div class="row">
									<div class="col-12">
										<div class="form-group  text-center">
											<label><h4>
													<span th:text="#{commerce.screen.order.totals.estimated}">Estimated Totals</span>
												</h4></label><br />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.subtotal}">Sub Total Cost</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.estimatedCost}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_estimatedCost"
															th:text="${orderBeanDTO.order.estimatedCost}"></span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax}">Total Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.taxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_taxAmount" th:text="${orderBeanDTO.order.taxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax.sgst}">Total SGST Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.sgstTaxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_sgstTaxAmount"
															th:text="${orderBeanDTO.order.sgstTaxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.tax.cgst}">Total CGST Tax</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.cgstTaxAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_cgstTaxAmount"
															th:text="${orderBeanDTO.order.cgstTaxAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.order.add.total.amount}">Total Amount</span></small></label>
											<div class="input-group text-left">
												<input type="hidden" th:field="*{order.totalAmount}"></input> <label><h5>
														<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_totalAmount" th:text="${orderBeanDTO.order.totalAmount}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Estimated Total Ends here -->
							<!-- Actual Total Starts here -->
							<div id="orderTotals">
								<div class="card border-box-filled-light">
									<div class="row">
										<div class="col-12">
											<div class="form-group text-center">
												<label><h4>
														<span th:text="#{commerce.screen.order.totals.actual}">Actual Totals</span>
													</h4></label><br />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.totals.actual.subtotal}">Actual Sub Total Cost</span></small></label>
												<div class="input-group text-left">
													<input type="hidden" th:field="*{order.actualSubTotalCost}"></input> <label><h5>
															<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_actualSubTotalCost"
																th:text="${orderBeanDTO.order.actualSubTotalCost}"></span>
														</h5></label>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.totals.actual.tax}">Actual Tax Total </span></small></label>
												<div class="input-group text-left">
													<input type="hidden" th:field="*{order.actualTaxAmount}"></input> <label><h5>
															<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_actualTaxAmount"
																th:text="${orderBeanDTO.order.actualTaxAmount}"></span>
														</h5></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.totals.actual.tax.sgst}">Actual SGST Tax Total</span></small></label>
												<div class="input-group text-left">
													<input type="hidden" th:field="*{order.actualSgstTaxAmount}"></input> <label><h5>
															<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_actualSgstTaxAmount"
																th:text="${orderBeanDTO.order.actualSgstTaxAmount}"></span>
														</h5></label>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.totals.actual.tax.cgst}">Actual CGST Tax Total</span></small></label>
												<div class="input-group text-left">
													<input type="hidden" th:field="*{order.actualCgstTaxAmount}"></input> <label><h5>
															<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_actualCgstTaxAmount"
																th:text="${orderBeanDTO.order.actualCgstTaxAmount}"></span>
														</h5></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.order.totals.actual.amount}">Actual Total Amount</span></small></label>
												<div class="input-group text-left">
													<input type="hidden" th:field="*{order.actualTotalAmount}"></input> <label><h5>
															<span th:text="#{commerce.screen.common.currency.inr}"></span> <span id="lbl_actualTotalAmount"
																th:text="${orderBeanDTO.order.actualTotalAmount}"></span>
														</h5></label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Actual Total Ends here -->
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- Order Report Lookup Modal-->
	<div class="modal fade " id="orderReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{commerce.screen.order.report.print}"> Purchase Order Report</span>
					</h5>
				</div>
				<div class="modal-body text-center">
					<div id="receiptActions" class="col-12 text-center">
						<button type="button" class="btn btn-info p-3 m-2" id="btnViewOrderReport">
							<div class="fa-5x">
								<i class="fas fa-file-alt"></i>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnPrintReportAndNewOrder">
							<div class="fa-5x">
								<i class="fas fa-print"></i>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnEditOrder" th:if="${orderBeanDTO.order.status=='C'}">
							<div class="fa-5x">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-pencil-alt"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnApproveOrder" th:if="${orderBeanDTO.order.status=='C'}">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-check"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnReceiveOrder" th:if="${orderBeanDTO.order.status=='A'}">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-arrow-left"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnNewOrder">
							<div class="fa-5x mr-2">
								<span class="fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus"
									data-fa-transform="shrink-10 right-10 up-4"></i>
								</span>
							</div>
						</button>
					</div>
					<div class="col-12 d-none text-center" id="progressDiv">
						<i class="fas fa-cog fa-spin fa-5x"></i>
						<div>
							<span th:text="#{commerce.screen.order.report.generate}"></span>
						</div>
					</div>
					<iframe id="reportPDFContainer" class="p-5" width="90%" height="90%" frameBorder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		var txn_success = /*[[${success}]]*/;
		var txn_orderId = /*[[${orderBeanDTO.order.orderId}]]*/;
		var newOrderURL = /*[[@{/admin/add_order}]]*/;
		var editOrderURL = /*[[@{/admin/edit_order(orderId)}]]*/;
		var approveOrderURL = /*[[@{/admin/approve_order(orderId)}]]*/;
		var receiveOrderURL = /*[[@{/admin/receive_order(orderId)}]]*/;
		
		var print_rcpt_url= /*[[@{/admin/print_order_report(orderId)}]]*/;
		var view_rcpt_url= /*[[@{/admin/view_order_report(orderId)}]]*/;
		var view_rcpt_viewer_url= /*[[@{/pdfviewer/web/viewer.html}]]*/;			
		
		
		
		if(txn_success && txn_success!='undefined' && txn_success!=''){
			postOrderSave();
		}

		$(function() {
			$('[id^=order\\.orderBills][id$=\\.billDate]').map(function() {
				$(this).flatpickr({
					dateFormat : 'd-M-y',
				});
			});
		});
		
		
		
		/*]]>*/
	</script>
</body>
</html>