<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.supplier.edit}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/admin_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="container">
				<div class="card">
					<div class="card-header">
						<h3 th:text="#{commerce.screen.supplier.edit}">Edit Supplier</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
							<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
							<div id="supplierActions" class="col-12 p-4" th:if="${ success!=null}">
								<a th:href="@{/admin/edit_supplier(supplierId=${supplierBean.supplierId})}" class="btn btn-sm btn-info"><i class="fas fa-user fa-2x mx-2"></i><span
									th:text="#{commerce.screen.actions.edit}"></span></a> <a th:href="@{/admin/add_supplier}" class="btn btn-sm btn-success"><i
									class="fas fa-user-plus fa-2x mx-2"></i><span th:text="#{commerce.home.menu.add.supplier}"></span></a> <a th:href="@{/admin/manage_supplier}"
									class="btn btn-sm btn-success"><i class="fas fa-users fa-2x mx-2"></i><span th:text="#{commerce.home.menu.manage.supplier}"></span></a>
							</div>
							<form class="form" id="editForm" action="#" th:action="@{/admin/edit_supplier}" th:object="${supplierBean}" method="post">
								<div class="form-group text-left">
									<input type="hidden" th:field="*{supplierId}"></input>
									<input type="hidden" th:field="*{createdBy}"></input>
									<input type="hidden" th:field="*{createdDate}"></input>
									
									 <label th:text="#{commerce.screen.supplier.id}">Supplier Id</label> <span
										th:text="${supplierBean.supplierId}">#</span>
								</div>
								<div class="form-group text-left">
									<label for="name"><small><span class="pos-mandatory" th:text="#{commerce.screen.supplier.name}">Supplier Name</span></small></label>
									<div class="input-group text-left">
										<input type="text" th:field="*{name}" class="form-control input-sm " th:placeholder="#{commerce.screen.supplier.name.placeholder}"
											maxlength="80"></input>
									</div>
									<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name Error</small>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group  text-left">
											<label for="phone1"><small><span class="pos-mandatory" th:text="#{commerce.screen.supplier.phone1}">Supplier Phone 1</span></small></label>
											<div class="input-group text-left">
												<input type="number" th:field="*{phone1}" class="form-control input-sm pos-mandatory"
													th:placeholder="#{commerce.screen.supplier.phone1.placeholder}" maxlength="10"></input>
											</div>
											<small th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}" class="text-danger">Phone 1 Error</small>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group  text-left">
											<label for="phone2"><small><span th:text="#{commerce.screen.supplier.phone2}">Supplier Phone 2</span></small></label>
											<div class="input-group text-left">
												<input type="number" th:field="*{phone2}" class="form-control input-sm" th:placeholder="#{commerce.screen.supplier.phone2.placeholder}"
													maxlength="10"></input>
											</div>
											<small th:if="${#fields.hasErrors('phone2')}" th:errors="*{phone2}" class="text-danger">Phone 2 Error</small>
										</div>
									</div>
								</div>
								<div class="form-group  text-left">
									<label for="email"><small><span class="pos-mandatory" th:text="#{commerce.screen.supplier.email}">Supplier Email</span></small></label>
									<div class="input-group text-left">
										<input type="email" th:field="*{email}" class="form-control input-sm" th:placeholder="#{commerce.screen.supplier.email.placeholder}"
											maxlength="80"></input>
									</div>
									<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email Error</small>
								</div>
								<div class="address form-group">
									<th:block th:each="address,itrStat:${supplierBean.addresses}">
										<div class="row">
											<div class="col-12" th:id="'addressOrg'+${itrStat.index}">
												<div class="form-group">
													<label for="address1"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.line1}">Address Line 1</span></small></label>
													<div class="input-group text-left">
														<input type="hidden" th:field="${supplierBean.addresses[__${itrStat.index}__].addressId}" class="form-control input-sm"></input> <input
															type="text" th:field="${supplierBean.addresses[__${itrStat.index}__].address1}" class="form-control input-sm"
															th:placeholder="#{commerce.screen.address.line1.placeholder}" maxlength="150"></input>
													</div>
													<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].address1')}"
														th:errors="${supplierBean.addresses[__${itrStat.index}__].address1}" class="text-danger">Address Line 1 Error</small>
												</div>
												<div class="form-group">
													<label for="address2"><small><span th:text="#{commerce.screen.address.line2}">Address Line 1</span></small></label>
													<div class="input-group text-left">
														<input type="text" th:field="${supplierBean.addresses[__${itrStat.index}__].address2}" class="form-control input-sm"
															th:placeholder="#{commerce.screen.address.line2.placeholder}" maxlength="150"></input>
													</div>
													<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].address2')}"
														th:errors="${supplierBean.addresses[__${itrStat.index}__].address2}" class="text-danger">Address Line 2 Error</small>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label for="city"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.city}">City</span></small></label>
															<div class="input-group text-left">
																<input type="text" th:field="${supplierBean.addresses[__${itrStat.index}__].city}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.address.city.placeholder}" maxlength="30"></input>
															</div>
															<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].city')}"
																th:errors="${supplierBean.addresses[__${itrStat.index}__].city}" class="text-danger">City Error</small>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label for="state"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.state}">State</span></small></label>
															<div class="input-group text-left">
																<input type="text" th:field="${supplierBean.addresses[__${itrStat.index}__].state}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.address.state.placeholder}" maxlength="45"></input>
															</div>
															<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].state')}"
																th:errors="${supplierBean.addresses[__${itrStat.index}__].state}" class="text-danger">State Error</small>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label for="country"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.country}">Country</span></small></label>
															<div class="input-group text-left">
																<input type="text" th:field="${supplierBean.addresses[__${itrStat.index}__].country}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.address.country.placeholder}" maxlength="45"></input>
															</div>
															<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].country')}"
																th:errors="${supplierBean.addresses[__${itrStat.index}__].country}" class="text-danger">Country Error</small>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label for="pincode"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.pincode}">Pincode</span></small></label>
															<div class="input-group text-left">
																<input type="number" th:field="${supplierBean.addresses[__${itrStat.index}__].pincode}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.address.pincode.placeholder}" maxlength="6"></input>
															</div>
															<small th:if="${#fields.hasErrors('addresses[__${itrStat.index}__].pincode')}"
																th:errors="${supplierBean.addresses[__${itrStat.index}__].pincode}" class="text-danger">Pincode Error</small>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-3 col-sm-3 col-md-3">
														<div class="form-group">
															<label for="primary"><small><span></span></small></label>
															<div class="input-group text-left">
																<div class="form-check text-center">
																	<input type="radio" th:field="${supplierBean.primaryAddressIndex}" th:value="${itrStat.index}" class="form-check-input"></input> <label
																		class="form-check-label"><span th:text="#{commerce.screen.address.primary}">Primary</span></label>
																</div>
															</div>
															<small th:if="${#fields.hasErrors('primaryAddressIndex')}" th:errors="${supplierBean.primaryAddressIndex}" class="text-danger">Primary
																Error</small>
														</div>
													</div>
													<div class="col-xs-3 col-sm-3 col-md-3">
														<div class="form-group">
															<label for="addressType"><small><span class="pos-mandatory" th:text="#{commerce.screen.address.type}">Select
																		Address Type</span></small></label>
															<div class="input-group text-left">
																<select th:field="${supplierBean.addresses[__${itrStat.index}__].addressType}" class="form-control input-sm"
																	th:placeholder="#{commerce.screen.address.type}">
																	<option th:value="Work" th:text="#{commerce.screen.address.work}"></option>
																	<option th:value="Warehouse" th:text="#{commerce.screen.address.warehouse}"></option>
																	<option th:value="Home" th:text="#{commerce.screen.address.home}"></option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6" th:if="${itrStat.size > 1}">
														<div class="form-group">
															<button type="button" th:onclick="'deleteAddress(\'/admin/edit_supplier?removeSupplierAddress=&amp;id='+ ${itrStat.index} +'\')'"
																class="btn btn-secondary btn-sm">
																<span class="fa-layers fa-fw ml-1 mr-3"> <i class="fas fa-times" data-fa-transform="shrink-4 left-1 bottom-1"></i> <i
																	class="fas fa-address-card" data-fa-transform="left--14 bottom-1"></i>
																</span><span th:text="#{commerce.screen.btn.address.delete}"></span>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</th:block>
								</div>
								<div class="row">
									<div class="col-12" id="addressClone"></div>
								</div>
								<div class="row" th:if="${success==null}">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<div class="input-group">
												<input type="submit" name="saveSupplier" value="Save" th:value="#{commerce.screen.btn.submit.save}" class="btn btn-info mr-3"></input> <a
													th:href="@{/admin/add_supplier}" class="btn btn-sm btn-success mr-3"><i class="fas fa-user fa-2x mx-2"></i><span
													th:text="#{commerce.screen.supplier.btn.new.supplier}"></span></a> <a th:href="@{/admin/manage_supplier}" class="btn btn-sm btn-success mr-3"><i
													class="fas fa-users fa-2x mx-2"></i><span th:text="#{commerce.home.menu.manage.supplier}"></span></a>
												<button type="submit" name="addSupplierAddress" class="btn btn-secondary">
													<i class="fas fa-address-card fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.address.add}"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script>
		function deleteAddress(addressId) {

			$("#editForm").attr("action", addressId);

			$('#editForm').submit();
		}
	</script>
</body>
</html>