<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.supplier.search}">Supplier Management Page</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card m-5">
				<div class="card-header">
					<h3 th:text="#{commerce.screen.supplier.search}">Search Supplier</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<form class="form" id="searchForm" action="#" th:action="@{/admin/manage_supplier}" th:object="${searchBean}" method="post">
							<div class="row">
								<div class="col-7">
									<div class="form-group text-left">
										<div class="input-group">
											<input type="text" th:field="*{searchText}" class="form-control input-sm" th:placeholder="#{commerce.screen.supplier.search.text}"
												placeholder="Enter keyword to search" aria-describedby="searchHelp">
											</input> 
											<div class="input-group-append">
												<button type="submit"
													value="Search" class="btn btn-info">
													<i class="fas fa-search fa-2x mx-2"></i> <span th:text="#{commerce.screen.btn.search}"></span>
												</button>
											
											<a th:if="${suppliers==null or suppliers.suppliers==null or #lists.size(suppliers.suppliers)&lt;1}" href="add_supplier.html" th:href="@{/admin/add_supplier}" class="btn btn-success btn-sm"><i class="fas fa-user-plus fa-2x mx-2"></i><span
												th:text="#{commerce.screen.supplier.btn.new.supplier}">Add New Supplier</span></a>
												</div>
										</div>
										<small id="searchHelp" class="form-text text-muted" th:text="#{commerce.screen.supplier.search.keywords}">Enter keywords like
											id/Name/Email/Address/Phone#</small>
										<div th:if="${#fields.hasErrors('searchText')}"
											th:errors="*{searchText}" class="text-danger">Search
											Text Error</div>											
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="card-text">
						<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
						<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
						<form class="form" id="bulkForm" action="#" th:action="@{/admin/bulk_supplier_action}" th:object="${suppliers}" method="post"
							th:if="${suppliers!=null and suppliers.suppliers!=null and #lists.size(suppliers.suppliers)>0}">
							<div class="row">
								<div class="col-12 text-right">
									<!-- This thymeleaf fragment is the body part for the page-->
									<th:block th:include="common/display :: pagination"></th:block>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered">
								<thead class="thead-light">
									<tr>
										<th scope="col-1" th:text="#{commerce.screen.supplier.id}">Select</th>
										<th scope="col-3" th:text="#{commerce.screen.supplier.name}">Supplier Name</th>
										<th scope="col-4" th:text="#{commerce.screen.supplier.email}">Email</th>
										<th scope="col-2" th:text="#{commerce.screen.supplier.phone1}">Phone 1</th>
										<th scope="col-2" th:text="#{commerce.screen.supplier.phone1}">Phone 2</th>
										<th scope="col-2" th:text="#{commerce.screen.actions}">Actions</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="supplier,itrStat:${suppliers.suppliers}">
										<tr>
											<td><input type="checkbox" th:onclick="'javascript:selectFunc(\''+${itrStat.index}+'\',this)'"
												class="form-control input-sm supplierId" th:field="*{supplierIds}"
												th:value="${suppliers.suppliers[__${itrStat.index}__].supplierId}+'_'+${itrStat.index}"></input></td>
											<td><input type="text" class="form-control input-sm" th:field="${suppliers.suppliers[__${itrStat.index}__].name}" disabled="disabled"></input></td>
											<td><input type="text" class="form-control input-sm" th:field="${suppliers.suppliers[__${itrStat.index}__].email}" disabled="disabled"></input></td>
											<td><input type="text" class="form-control input-sm" th:field="${suppliers.suppliers[__${itrStat.index}__].phone1}"
												disabled="disabled"></input></td>
											<td><input type="text" class="form-control input-sm" th:field="${suppliers.suppliers[__${itrStat.index}__].phone2}"
												disabled="disabled"></input></td>
											<td>
												<div class="btn-group">
													<a th:href="@{/admin/edit_supplier(supplierId=${suppliers.suppliers[__${itrStat.index}__].supplierId})}"
														href="../supplier/add_supplier.html" class="btn btn-success btn-sm"><i class="fas fa-user fa-2x mx-2"></i> <span
														th:text="#{commerce.screen.actions.edit}">Edit</span></a> <a
														th:href="@{/admin/delete_supplier(supplierId=${suppliers.suppliers[__${itrStat.index}__].supplierId})}"
														href="../supplier/manage_supplier.html" class="btn btn-danger btn-sm"><i class="fas fa-user-times fa-2x mx-2"></i><span
														th:text="#{commerce.screen.actions.delete}">Delete</span></a>
												</div>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
							<div class="row">
								<div class="col-4">
									<div class="form-group">
										<a th:href="'javascript:selectAll()'" href="#" class="badge badge-secondary"><span th:text="#{commerce.screen.actions.selectall}">Select
												All</span></a> <a th:href="'javascript:deselectAll()'" href="#" class="badge badge-secondary"><span
											th:text="#{commerce.screen.actions.deselectall}">Deselect All</span></a>
									</div>
								</div>
								<div class="col-8 text-right">
									<!-- This thymeleaf fragment is the body part for the page-->
									<th:block th:include="common/display :: pagination"></th:block>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<button type="button" th:onclick="'submitForm(\'/admin/bulk_supplier_action?saveSuppliers=\')'" id="btnSave" value="Save"
											class="btn btn-success btn-sm" aria-describedby="bulkHelp" disabled="disabled">
											<i class="fas fa-users fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.all.save}"></span>
										</button>
										<button type="button" th:onclick="'submitForm(\'/admin/bulk_supplier_action?deleteSuppliers=\')'" id="btnDelete" value="Delete"
											class="btn btn-danger btn-sm" aria-describedby="bulkHelp" disabled="disabled">
											<i class="fas fa-user-times fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.all.delete}"></span>
										</button>
										<a href="add_supplier.html" th:href="@{/admin/add_supplier}" class="btn btn-success btn-sm"><i class="fas fa-user-plus fa-2x mx-2"></i><span
											th:text="#{commerce.screen.supplier.btn.new.supplier}">Add New Supplier</span></a>
									</div>
								</div>
							</div>
							<div class="row text-left">
								<div class="col-4">
									<small id="btnActions" class="form-text text-muted" th:text="#{commerce.screen.search.action.bulk}">Please select records for the
										actions</small>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script th:inline="javascript" th:if="${suppliers!=null and suppliers.suppliers!=null and #lists.size(suppliers.suppliers)>0}">
	/*<![CDATA[*/
	
	    var totalRecords = [[${#lists.size(suppliers.suppliers)}]];
	
	/*]]>*/
	</script>
	<script>
	
	
		function searchResults(action) {
	
			$("#searchForm").attr("action", action);
	
			$('#searchForm').submit();
		}

	
	
		var cbCounter = 0;

		function selectAll() {

			$(".supplierId").prop('checked', true);
			$("[id^=suppliers]").removeAttr("disabled");
			
			$("#btnDelete").removeAttr("disabled");
			$("#btnSave").removeAttr("disabled");
			cbCounter = totalRecords;

		}

		function deselectAll() {

			$(".supplierId").prop('checked', false);
			$("[id^=suppliers]").attr("disabled", "disabled");

			$("#btnDelete").attr("disabled", "disabled");
			$("#btnSave").attr("disabled", "disabled");

			cbCounter = 0;

		}

		function submitForm(action) {

			$("#bulkForm").attr("action", action);

			$('#bulkForm').submit();
		}

		function selectFunc(index, cb) {

			if (cb.checked) {
				$("#suppliers" + index + "\\.name").removeAttr("disabled");
				$("#suppliers" + index + "\\.email").removeAttr("disabled");
				$("#suppliers" + index + "\\.phone1").removeAttr("disabled");
				$("#suppliers" + index + "\\.phone2").removeAttr("disabled");
				if (cbCounter == 0) {
					$("#btnDelete").removeAttr("disabled");
					$("#btnSave").removeAttr("disabled");
				}
				cbCounter++;
			} else {
				$("#suppliers" + index + "\\.name")
						.attr("disabled", "disabled");
				$("#suppliers" + index + "\\.email").attr("disabled",
						"disabled");
				$("#suppliers" + index + "\\.phone1").attr("disabled",
						"disabled");
				$("#suppliers" + index + "\\.phone2").attr("disabled",
						"disabled");
				if (cbCounter == 1 || cbCounter == 0) {
					$("#btnDelete").attr("disabled", "disabled");
					$("#btnSave").attr("disabled", "disabled");
					
				}
				cbCounter--;

			}
		}
	</script>
</body>
</html>