<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.inventory.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<!-- This thymeleaf fragment include the item lookup code-->
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../static/js/inventory/inv_adjust.js" th:src="@{/js/inventory/inv_adjust.js}"></script>
</head>
<body>
	<div id="wrapper">
		
		
		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<form class="form" id="addForm" action="#" th:action="@{/admin/add_inv_adjust}" th:object="${invAdjustBean}" method="post">
				<div class="card content-container">
					<div class="card-header">
						<h3 th:text="#{commerce.screen.inventory.add}">Create Purchase Order</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
							<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
							<div id="invAdjustActions" class="col-12 p-4" th:if="${ alert!=null}">
								<a th:href="@{/admin/edit_inv_adjust(invAdjustId=${invAdjustBean.invAdjustId})}" class="btn btn-info" th:if="${invAdjustBean.status=='C'}"><span
									class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="fas fa-clipboard"></i> <i class="fas fa-pencil-alt"
											data-fa-transform="shrink-10 right-10 up-4"></i>
									</span>
								</span> <span th:text="#{commerce.screen.actions.edit}"></span></a> <a th:href="@{/admin/add_inv_adjust}" class="btn btn-success"><span
									class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="fas fa-clipboard"></i> <i class="fas fa-plus"
											data-fa-transform="shrink-10 right-10 up-4"></i>
									</span>
								</span> <span th:text="#{commerce.home.menu.add.inventory}"></span></a> <a th:href="@{/admin/manage_inv_adjust}" class="btn btn-success"> <span
									class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="fas fa-clipboard"></i> <i class="fas fa-cog"
											data-fa-transform="shrink-10 right-10 up-4"></i>
									</span>
								</span> <span th:text="#{commerce.home.menu.search.inventory}"></span>
								</a>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label for="locationId"><small><span class="pos-mandatory" th:text="#{commerce.screen.common.location}"></span></small></label>
										<div class="input-group text-left">
											<select th:field="*{locationId}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.inventory.location}">Select Location</option>
												<option th:each="location: ${invAdjustBean.locations}" th:value="${location.locationId}"
													th:text="${location.locationId} + ' - ' +${location.name}"></option>
											</select>
										</div>
										<small th:if="${#fields.hasErrors('locationId')}" th:errors="*{locationId}" class="text-danger align-top">Location Error </small>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="reasonCodeId"><small><span class="pos-mandatory" th:text="#{commerce.screen.common.reason}"></span></small></label>
										<div class="input-group text-left">
											<select th:field="*{reasonCodeId}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.inventory.reason}">Select Inventory
													Adjustment Reason Code</option>
												<option th:each="reasonCode: ${invAdjustBean.reasonCodes}" th:value="${reasonCode.reasonCodeId}" th:text="#{${reasonCode.name}}"></option>
											</select>
										</div>
										<small th:if="${#fields.hasErrors('reasonCodeId')}" th:errors="*{reasonCodeId}" class="text-danger">Reason Code Error </small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="description"><small><span th:text="#{commerce.screen.common.description}"></span></small></label>
										<div class="input-group text-left">
											<input type="hidden" th:field="*{invAdjustId}"></input> <input type="hidden" th:field="*{createdBy}" /> <input type="hidden"
												th:field="*{createdDate}" /> <input type="hidden" th:field="*{status}" />
											<textarea th:field="*{description}" class="form-control input-sm" th:placeholder="#{commerce.screen.item.description}" rows="2">
												</textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row mx-1">
								<div class="col-3">
									<label><small><span class="pos-mandatory" th:text="#{commerce.screen.order.item}"></span></small></label>
								</div>
								<div class="col-2">
									<label><small><span class="pos-mandatory" th:text="#{commerce.screen.common.reason}"></span></small></label>
								</div>
								<div class="col-2">
									<label><small><span class="pos-mandatory" th:text="#{commerce.screen.common.qty}"></span></small></label>
								</div>
								<div class="col">
									<label><small><span th:text="#{commerce.screen.common.inv.from}"></span></small></label>
								</div>
								<div class="col">
									<label><small><span th:text="#{commerce.screen.common.inv.to}"></span></small></label>
								</div>
								<div class="col-2"></div>
							</div>
							<div class="orderitem form-group">
								<th:block th:each="invAdjustItem,itrStat:${invAdjustBean.invAdjustItems}">
									<div class="row">
										<div class="col-3">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <span class="fa-layers fa-fw"> <i class="fas fa-file-alt" data-fa-transform="rotate-180"></i>
																<i class="fas fa-search" data-fa-transform="shrink-10 right-10 up-4"></i>
														</span>
														</span>
													</div>
													<input type="hidden" th:field="*{invAdjustItems[__${itrStat.index}__].invAdjustLineItemId}"></input> <input type="hidden"
														th:field="*{invAdjustItems[__${itrStat.index}__].itemId}"></input> <input type="text"
														th:field="${invAdjustBean.invAdjustItems[__${itrStat.index}__].itemDesc}" class="form-control input-sm"
														th:placeholder="#{commerce.screen.order.item}" th:onchange="'updatechangeIndex('+${itrStat.index}+');'" maxlength="150"></input>
													<div class="input-group-append d-none" th:id="'itemSearchBusy'+${itrStat.index}">
														<span class="input-group-text"> <i class="fas fa-circle-notch fa-spin"></i>
														</span>
													</div>
												</div>
												<small th:id="'itemSearchErrorMsg'+${itrStat.index}" ></small>
												<small th:if="${#fields.hasErrors('invAdjustItems[__${itrStat.index}__].itemId')}"
													th:errors="${invAdjustBean.invAdjustItems[__${itrStat.index}__].itemId}" class="text-danger">Item Error </small>
											</div>
										</div>
										<div class="col-2">
											<div class="form-group">
												<select th:field="${invAdjustBean.invAdjustItems[__${itrStat.index}__].reasonCodeId}" class="form-control input-sm"
													th:onchange="'updatechangeIndex('+${itrStat.index}+');'">
													<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.inventory.reason}"></option>
													<option th:each="reasonCode : ${invAdjustBean.reasonCodes}" th:value="${reasonCode.reasonCodeId}" th:text="#{${reasonCode.name}}"></option>
												</select> <small th:if="${#fields.hasErrors('invAdjustItems[__${itrStat.index}__].reasonCodeId')}"
													th:errors="${invAdjustBean.invAdjustItems[__${itrStat.index}__].reasonCodeId}" class="text-danger">Reason Code Error </small>
											</div>
										</div>
										<div class="col-2">
											<div class="form-group">
												<input type="number" th:field="${invAdjustBean.invAdjustItems[__${itrStat.index}__].qty}" class="form-control input-sm"
													th:placeholder="#{commerce.screen.inventory.qty}" maxlength="150"></input> <small
													th:if="${#fields.hasErrors('invAdjustItems[__${itrStat.index}__].qty')}"
													th:errors="${invAdjustBean.invAdjustItems[__${itrStat.index}__].qty}" class="text-danger">Quantity Error </small>
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<input type="hidden" th:field="${invAdjustBean.invAdjustItems[__${itrStat.index}__].fromAvailable}"></input> <span
													th:id="'invAdjustItems'+${itrStat.index}+'.span.fromAvailable'"
													th:text="${invAdjustBean.invAdjustItems[__${itrStat.index}__].fromAvailable}"></span>
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<input type="hidden" th:field="${invAdjustBean.invAdjustItems[__${itrStat.index}__].toAvailable}"></input> <span
													th:id="'invAdjustItems'+${itrStat.index}+'.span.toAvailable'" th:text="${invAdjustBean.invAdjustItems[__${itrStat.index}__].toAvailable}"></span>
											</div>
										</div>
										<div class="col-2">
											<div class="form-group">
												<button type="submit" name="addInvAdjustItem" class="btn btn-secondary btn-sm">
													<i class="far fa-plus-square fa-2x"></i>
												</button>
												<button type="button" th:if="${(#lists.size(invAdjustBean.invAdjustItems))>1}"
													th:onclick="'deleteItem(\'/admin/add_inv_adjust?removeInvAdjustItem=&amp;id='+ ${itrStat.index} +'\')'" class="btn btn-secondary btn-sm">
													<i class="far fa-minus-square fa-2x"></i>
												</button>
											</div>
										</div>
									</div>
								</th:block>
							</div>
							<div class="row">
								<div class="col-xs-10 col-sm-10 col-md-10">
									<div class="form-group">
										<button type="submit" class="btn btn-info" name="saveInvAdjust" value="Save"
											th:if="${invAdjustBean.status==null || invAdjustBean.status=='' || invAdjustBean.status=='C'}">
											<i class="far fa-save fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.save}"></span>
										</button>
										<button type="submit" class="btn btn-success" name="approveInvAdjust" value="Approve"
											th:if="${invAdjustBean.status==null || invAdjustBean.status=='' || invAdjustBean.status=='C'}">
											<i class="fas fa-check fa-2x mx-2"></i><span th:text="#{commerce.screen.btn.submit.approve}"></span>
										</button>
										<a th:if="${invAdjustBean.invAdjustId!=null}" th:href="@{/admin/print_inv_adjust(invAdjustId=${invAdjustBean.invAdjustId})}"
											href="../inventory/inv_adjust.html" class="btn btn-secondary" target="_blank"><i class="fas fa-print fa-2x mx-2"></i><span
											th:text="#{commerce.screen.actions.print}">Print</span></a> <a th:href="@{/admin/add_inv_adjust}" class="btn btn-success"> <i
											class="fas fa-plus fa-2x mx-2"></i> <span th:text="#{commerce.home.menu.add.inventory}"></span></a> <a th:href="@{/admin/manage_inv_adjust}"
											class="btn btn-success"> <i class="fas fa-cog fa-2x mx-2"></i> <span th:text="#{commerce.home.menu.search.inventory}"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		
		var totalRecords = [[${#lists.size(invAdjustBean.invAdjustItems)}]];
		var stock_invAdjustId = [[${invAdjustBean.invAdjustId}]];
		var stock_status= [[${invAdjustBean.status}]];
		
		/*]]>*/
	</script>
</body>
</html>