<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.sale.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<!-- Enable the auto complete item lookup-->
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/sale/sale_txn.js" th:src="@{/js/sale/sale_txn.js}"></script>
<script src="../../js/sale/auto_item.js" th:src="@{/js/sale/auto_item.js}"></script>
<link href="../../static/css/box_radio.css" th:href="@{/css/box_radio.css}" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="row m-3">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="card-text">
								<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
								<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
								<form id="autoCompleteForm" action="#" th:action="@{/sku_lookup}" th:object="${searchBean}" method="post">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<div class="input-group text-left">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-barcode"></i></span>
													</div>
													<input type="text" th:field="*{searchText}" class="form-control input-sm"></input>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div id="result" class="col-12">
									<div class="row">
										<div class="col-3">Item Details</div>
										<div class="col padding-sm">Quantity</div>
										<div class="col">Item Price</div>
										<div class="col">Discount</div>
										<div class="col-2 text-center">Tax</div>
										<div class="col-2">Item Total</div>
									</div>
									<div class="row">
										<div class="col-3"></div>
										<div class="col"></div>
										<div class="col"></div>
										<div class="col"></div>
										<div class="col-1 padding-sm">SGST</div>
										<div class="col-1 padding-sm">CGST</div>
										<div class="col-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="border-box-filled">
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.date.business}">Business Date</span></small></label> <input type="hidden"
										th:field="${saleHeaderBean.businessDate}"></input>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${{saleHeaderBean.businessDate}}">Business Date</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.location}">Location</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<input type="hidden" th:field="${saleHeaderBean.locationId}"></input> <input type="hidden" th:field="${saleHeaderBean.locationName}"></input>
												<span th:text="${saleHeaderBean.locationId}">Location Id</span> - <span th:text="${saleHeaderBean.locationName}"></span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.register}">Register</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${saleHeaderBean.registerId}">Register#</span> - <span th:text="${saleHeaderBean.registerName}">Register Name</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.operator}">Operator's Name</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
											</h5></label>
									</div>
								</div>							
							
							
							
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.subtotal}">Subtotal</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalSubAmt"></input> <label><h5>
												<span id="salesHeaderSubTotalAmt">INR 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.discount}">Total Discount</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalDiscountAmt"></input> <label><h5>
												<span id="salesHeaderDiscountAmt">INR 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.tax}">Total Tax</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalTaxAmt"></input> <label><h5>
												<span id="salesHeaderTaxAmt">INR 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.total}">Total Amount</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalDueAmt"></input> <label><h5>
												<span id="salesHeaderTotalAmt">INR 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- This section is for the tender line items based on selected tenders-->
					<div class="border-box-filled-light d-none" id="tenderLineItemContainer"></div>
					<!-- This section is for the due amount and payment methods -->
					<div class="border-box-filled">
						<div class="row ">
							<div class="col">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.due}" id="lbl_tenderDue">Total Due</span></small></label>
									<div class="input-group text-left">
										<div class="input-group-prepend">
											<span class="input-group-text">INR</span>
										</div>
										<input type="number" min="0" step="0.01" class="form-control form-control-sm text-right" id="dueAmt" data-toggle="tooltip" 
											th:placeholder="#{commerce.screen.sale.amount.due.placeholder}"></input>
										<div class="input-group-append">
											<button class="btn btn-success" id="btnTenderOK" type="button">
												<i class="fas fa-check"></i>
											</button>
											<button class="btn btn-success d-none" id="btnCompleteTxn" type="button" th:text="#{commerce.screen.sale.complete}"></button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4 d-none" id="tenderChangeDueCol">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.tender.change}">Change Due</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_changeDueAmt"></input> <label><h5>
												<span id="tenderChangeDueAmt">INR 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col">
								<div class="box-radio-parent">
									<th:block th:each="tenderBean,itrStat:${tenders}">
										<label> <input type="radio" name="tenderRadio" id="tenderRadio" th:value="${tenderBean.name}"></input>
											<div class="sm-btn">
												<div class="box-text">
													<span th:if="${tenderBean.name=='Cash'}"><i class="fas fa-money-bill-alt fa-4x"></i> </span> <span th:if="${tenderBean.name=='Credit Card'}"><i
														class="fas fa-credit-card fa-4x"></i> </span> <span th:if="${tenderBean.name=='Paypal'}"><i class="fab fa-paypal fa-4x"></i> </span> <span
														th:if="${tenderBean.name=='Paytm'}"><img th:src="@{/images/paytm_sm.png}"></img> </span>
												</div>
											</div>
										</label>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>
</html>