<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.sale.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<!-- Enable the auto complete item lookup-->
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/sale/auto_item.js" th:src="@{/js/sale/auto_item.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="row m-3">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="card-text">
								<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
								<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
								<form id="autoCompleteForm" action="#" th:action="@{/sku_lookup}" th:object="${searchBean}" method="post">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<div class="input-group text-left">
													<input type="text" th:field="*{searchText}" class="form-control input-sm"></input>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div id="result" class="col-12">
									<div class="row">
										<div class="col-3">Item Details</div>
										<div class="col">Quantity</div>
										<div class="col">Item Price</div>
										<div class="col">Discount</div>
										<div class="col-2 text-center">Tax</div>										
										<div class="col-2">Item Total</div>
									</div>
									<div class="row">
										<div class="col-3"></div>
										<div class="col"></div>
										<div class="col"></div>
										<div class="col"></div>
										<div class="col-1">SGST</div>
										<div class="col-1">IGST</div>
										<div class="col-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
				
								<div class="row border-box-filled">
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.common.date.business}">Business Date</span></small></label> <input type="hidden"
												th:field="${saleHeaderBean.businessDate}"></input>
											<div class="input-group text-left">
												<label><h5>
														<span th:text="${{saleHeaderBean.businessDate}}">Business Date</span>
													</h5></label>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label><small><span th:text="#{commerce.screen.common.location}">Location</span></small></label>
											<div class="input-group text-left">
												<label><h5>
														<input type="hidden" th:field="${saleHeaderBean.locationId}"></input> <input type="hidden" th:field="${saleHeaderBean.locationName}"></input> <span
															th:text="${saleHeaderBean.locationId}">Location Id</span> - <span th:text="${saleHeaderBean.locationName}"></span>
													</h5></label>
											</div>
										</div>
									</div>
								</div>				

				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>
</body>
</html>