<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.manage.password.title}">Manage
	User Password</title>

<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>

</head>
<body>

	<div id="wrapper">

		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>



			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="container">
				<div class="card">
					<div class="card-header">
						<h3>
							<span th:text="#{commerce.screen.manage.password.header}">Manage
								Password</span>
						</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<div th:if="${ success!=null}" th:text="${success}"
								class="alert alert-success " role="alert"></div>
							<div th:if="${ alert!=null}" th:text="${alert}"
								class="alert alert-danger " role="alert"></div>

							<form class="form" action="#" th:action="@{/manage_password}"
								th:object="${passwordBean}" method="post">
								<div class="form-group">
									<input type="password" th:field="*{password}"
										class="form-control input-sm"
										placeholder="Type your Current Password"
										th:placeholder="#{commerce.screen.manage.password.password}"></input>
								</div>

								<div class="form-group">
									<input type="password" th:field="*{newPassword}"
										class="form-control input-sm" placeholder="New Password"
										th:placeholder="#{commerce.screen.manage.password.new.password}"></input>
								</div>
								<div class="form-group">
									<input type="password" th:field="*{confirmPassword}"
										class="form-control input-sm"
										placeholder="Confirm New Password"
										th:placeholder="#{commerce.screen.manage.password.confirm.password}"></input>
								</div>


								<div class="row">
									<div class="col-xs-4 col-sm-4 col-md-4">
										<input type="submit" value="Save Changes"
											th:value="#{commerce.btn.save.changes}"
											class="btn btn-info btn-block"></input>

									</div>
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>


		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->


</body>
</html>