<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.return.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<link href="../../static/css/utils/introjs.min.css" th:href="@{/css/utils/introjs.min.css}" rel="stylesheet" />
<script src="../../static/js/utils/intro.js" th:src="@{/js/utils/intro.js}"></script>
<th:block th:replace="common/header:: header"></th:block>
<!-- Enable the auto complete item lookup-->
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/parsley.min.js" th:src="@{/js/parsley.min.js}"></script>
<script src="../../static/js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../../static/js/mousetrap.min.js" th:src="@{/js/mousetrap.min.js}"></script>
<script src="../../static/js/utils/mousetrap-global-bind.min.js" th:src="@{/js/utils/mousetrap-global-bind.min.js}"></script>
<script src="../../static/js/transaction/txn_classes.js" th:src="@{/js/transaction/txn_classes.js}"></script>
<script src="../../static/js/common/customer.js" th:src="@{/js/common/customer.js}"></script>
<script src="../../static/js/return/return_txn.js" th:src="@{/js/return/return_txn.js}"></script>
<script src="../../static/js/return/return.js" th:src="@{/js/return/return.js}"></script>
<link href="../../static/css/box_radio.css" th:href="@{/css/box_radio.css}" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		
		
		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="row m-3">
				<div class="col">
					<div class="card return-area">
						<div class="card-body">
							<div class="card-text">
								<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
								<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
								<form id="autoCompleteForm" action="#" th:action="@{/sku_lookup}" th:object="${searchBean}" method="post">
									<div class="row">
										<div class="col-6" data-step="2" data-th-attr="data-intro=#{commerce.help.txn.item.search}">
											<div class="form-group">
												<div class="input-group text-left">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="fas fa-barcode fa-2x"></i></span>
													</div>
													<input type="text" th:field="*{searchText}" class="form-control input-sm"></input>
													<div class="input-group-append d-none" id="itemSearchBusy">
														<span class="input-group-text"> <i class="fas fa-circle-notch fa-spin"></i>
														</span>
													</div>
												</div>
												<small id="itemErrorMsg"></small>
											</div>
										</div>
										<div class="col" id="area_txnActions" data-step="3" data-th-attr="data-intro=#{commerce.help.txn.btns.action}">
											<button type="button" id="btnLastTxn" class="btn btn-secondary" th:title="#{commerce.tooltip.btn.last.txn}">
												<i class="fas fa-receipt fa-2x"></i>
											</button>
											<button type="button" id="btnAssociateCustomer" class="btn btn-info"  th:title="#{commerce.tooltip.btn.associate.customer}">
												<i class="fas fa-male fa-2x"></i>
											</button>
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<label class="btn btn-secondary active" th:title="#{commerce.tooltip.btn.view.short}"> <input type="radio" name="btnView" id="btnCompact" checked="checked"> <i
													class="fas fa-bars fa-2x"></i> </input>
												</label> <label class="btn btn-secondary" th:title="#{commerce.tooltip.btn.view.detailed}"> <input type="radio" name="btnView" id="btnDetailed"> <i
													class="fas fa-align-justify fa-2x"></i> </input>
												</label>
											</div>
										</div>
										<div class="col-2 text-right" id="area_storeActions" data-step="4" data-th-attr="data-intro=#{commerce.help.txn.btn.close}">
										
											<button type="button" id="btnCloseRegister" class="btn btn-danger" th:title="#{commerce.tooltip.btn.close.register}">
												<span class="fa-layers fa-fw fa-2x"> <i class="fas fa-tablet-alt"></i> <i class="fas fa-times"
													data-fa-transform="shrink-10 right-11 up-4"></i>
												</span>
											</button>
										</div>
									</div>
								</form>
								<div id="result" class="col-12"  data-step="5" data-th-attr="data-intro=#{commerce.help.txn.item.area}">
									<!-- The item scanned will appear here -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4"  data-step="1" data-th-attr="data-intro=#{commerce.help.txn.transaction.header}">
					<div class="border-box-filled">
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.date.business}">Business Date</span></small></label> <input type="hidden"
										th:field="${txnHeaderBean.businessDate}"></input>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${{txnHeaderBean.businessDate}}">Business Date</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.location}">Location</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<input type="hidden" th:field="${txnHeaderBean.locationId}"></input> <input type="hidden" th:field="${txnHeaderBean.locationName}"></input>
												<span th:text="${txnHeaderBean.locationId}">Location Id</span> - <span th:text="${txnHeaderBean.locationName}"></span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.register}">Register</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${txnHeaderBean.registerId}">Register#</span> - <span th:text="${txnHeaderBean.registerName}">Register Name</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.common.operator}">Operator's Name</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.subtotal}">Subtotal</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalSubAmt"></input> <label><h5>
												<span id="salesHeaderSubTotalAmt"><span th:text="#{commerce.screen.common.currency.inr}"></span> 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.discount}">Total Discount</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalDiscountAmt"></input> <label><h5>
												<span id="salesHeaderDiscountAmt"><span th:text="#{commerce.screen.common.currency.inr}"></span> 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.tax}">Total Tax</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalTaxAmt"></input> <label><h5>
												<span id="salesHeaderTaxAmt"><span th:text="#{commerce.screen.common.currency.inr}"></span> 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.total}">Total Amount</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_totalDueAmt"></input> <label><h5>
												<span id="salesHeaderTotalAmt"><span th:text="#{commerce.screen.common.currency.inr}"></span> 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row d-none" id="customerHeader">
							<div class="col-6">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.customer.searchtext}">Customer</span></small></label>
									<div class="input-group text-left">
										<label><h5>
												<span id="salesHeaderCustomer"></span>
											</h5></label>
									</div>
								</div>
							</div>
							<div class="col-6"></div>
						</div>
					</div>
					<!-- This section is for the tender line items based on selected tenders-->
					<!-- data-step="7" data-th-attr="data-intro=#{commerce.help.txn.tender.lineitem.area}" -->
					<div class="border-box-filled-light d-none" id="tenderLineItemContainer"></div>
					<!-- This section is for the due amount and payment methods -->
					<!-- data-step="6" data-th-attr="data-intro=#{commerce.help.txn.tenders.area}" -->
					<div class="border-box-filled d-none" id="tenderOptionsContainer">
						<div class="row ">
							<div class="col">
								<div class="form-group">
									<label><small><span th:text="#{commerce.screen.sale.amount.due}" id="lbl_tenderDue">Total Due</span></small></label>
									<div class="input-group text-left"  th:title="#{commerce.tooltip.payment.text.btn}">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-rupee-sign fa-3x"></i></span>
										</div>
										<input type="number" min="0" step="0.01" class="form-control form-control-lg text-right input-text-big-bold" id="dueAmt"
											data-toggle="tooltip" th:placeholder="#{commerce.screen.sale.amount.due.placeholder}"></input>
										<div class="input-group-append">
											<button class="btn btn-success" id="btnTenderOK" type="button">
												<i class="fas fa-check fa-3x"></i>
											</button>
											<button class="btn btn-success d-none" id="btnCompleteTxn" type="button">
												<span class="input-text-big-bold" th:text="#{commerce.screen.sale.complete}"> </span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4 d-none" id="tenderChangeDueCol">
								<div class="form-group" th:title="#{commerce.screen.common.tender.change}">
									<label><small><span th:text="#{commerce.screen.common.tender.change}">Change Due</span></small></label>
									<div class="input-group text-left">
										<input type="hidden" id="hc_changeDueAmt"></input> <label><h5>
												<span id="tenderChangeDueAmt" class="input-text-big-bold py-2"><span th:text="#{commerce.screen.common.currency.inr}"></span> 0.00</span>
											</h5></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="box-radio-parent">
									<th:block th:each="tenderBean,itrStat:${tenders}">
										<input type="hidden" th:id="${tenderBean.tenderId+'tenderName'}" th:value="${tenderBean.name}"></input>
										<input type="hidden" th:id="${tenderBean.tenderId+'tenderType'}" th:value="${tenderBean.tndrType}"></input>
										<th:block th:if="${tenderBean.name =='Change'}">
											<input type="hidden" id="hc_changeTenderId" th:value="${tenderBean.tenderId}"></input>
										</th:block>
										<th:block th:unless="${tenderBean.name =='Change'}">
											<label th:title="${tenderBean.name}"> <input type="radio" name="tenderRadio" id="tenderRadio" th:value="${tenderBean.tenderId}"
												th:checked="${txnHeaderBean.defaultTender==tenderBean.tndrType}"></input>
												<div class="sm-btn">
													<div class="box-text">
														<span th:if="${tenderBean.name=='Credit'}"><i class="fas fa-hand-holding-usd fa-4x" data-fa-transform="flip-v flip-h"></i> </span> <span
															th:if="${tenderBean.name=='Cash'}"><i class="fas fa-money-bill-alt fa-4x"></i> </span> <span th:if="${tenderBean.name=='Credit Card'}"><i
															class="fas fa-credit-card fa-4x"></i> </span> <span th:if="${tenderBean.name=='Paypal'}"><i class="fab fa-paypal fa-4x"></i> </span> <span
															th:if="${tenderBean.name=='Paytm'}"><img th:src="@{/images/paytm_sm.png}"></img> </span> <span th:if="${tenderBean.name=='Cheque'}"><i
															class="fas fa-id-card fa-4x"></i> </span>
													</div>
												</div>
											</label>
										</th:block>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script th:inline="javascript">
		/*<![CDATA[*/

		var txn_locationId = /*[[${txnHeaderBean.locationId}]]*/;
		var txn_registerId = /*[[${txnHeaderBean.registerId}]]*/;
		var txn_registerName = /*[[${txnHeaderBean.registerName}]]*/;
		
		var txn_user = /*[[${#authentication.getPrincipal().getUsername()}]]*/;
		var txn_businessDate = /*[[${{txnHeaderBean.businessDate}}]]*/;
		var tndr_change_id=$('#hc_changeTenderId').val();
		var new_txn_prefix= /*[[@{/pos/sale}]]*/;
		var new_return_txn_prefix= /*[[@{/pos/return_txn}]]*/;
		
		var register_close_url= /*[[@{/pos/close_register(registerId)}]]*/;
		var store_close_url= /*[[@{/pos/close_store(storeId)}]]*/;
		
		var print_rcpt_url= /*[[@{/pos/receipt_print}]]*/;
		var view_rcpt_viewer_url= /*[[@{/pdfviewer/web/viewer.html}]]*/;
		var view_rcpt_url= /*[[@{/pos/view_last_receipt}]]*/;
		var rcpt_txn_id= '';
		var rcpt_txn_no= '';
		
		var txn_type='R';
	
		/*]]>*/
	</script>
	<!-- Customer Lookup Modal -->
	<div class="modal fade " id="txnCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{commerce.screen.sale.customer.lookup.title}"> Customer Look up</span>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div class="row">
						<div class="col">
							<div class="form-group text-left" id="div_customerSearch">
								<label for="name"><small><span class="pos-mandatory" th:text="#{commerce.screen.sale.customer.search}">Enter Customer
											Details to Search</span></small></label>
								<div class="input-group text-left">
									<input type="text" th:field="${customerBean.customerSearchText}" class="form-control form-control-sm"
										th:placeholder="#{commerce.screen.sale.customer.search.placeholder}" maxlength="80"></input>
									<div class="input-group-append">
										<span class="input-group-text d-none" id="customerSearchBusy"> <i class="fas fa-circle-notch fa-spin"></i>
										</span>
										<button type="button" id="btnAddCustomer" class="btn btn-success btn-sm">
											<i class="fas fa-male mx-2"></i> <span th:text="#{commerce.screen.customer.add}">Add Customer</span>
										</button>
									</div>
								</div>
								<small id="customerErrorMsg"></small> <small th:if="${#fields.hasErrors('customerBean.customerSearchText')}"
									th:errors="${customerBean.customerSearchText}" class="text-danger">Customer Search Error</small>
							</div>
							<div id="div_customerResult"></div>
						</div>
					</div>
					<div class="row d-none" id="div_customerAdd">
						<div class="col">
							<div class="form-group text-left">
								<label for="name"><small><span class="pos-mandatory" th:text="#{commerce.screen.customer.name}">Customer Name</span></small></label>
								<div class="input-group text-left">
									<input type="text" th:field="${customerBean.name}" class="form-control form-control-sm"
										th:placeholder="#{commerce.screen.customer.name.placeholder}" minlength="4" maxlength="80" required="required"></input>
								</div>
								<small id="nameMsg"></small> <small th:if="${#fields.hasErrors('customerBean.name')}" th:errors="${customerBean.name}" class="text-danger">Name
									Error</small>
							</div>
							<div class="form-group text-left">
								<label for="phone"><small><span class="pos-mandatory" th:text="#{commerce.screen.customer.phone}">Customer Phone</span></small></label>
								<div class="input-group text-left">
									<input type="number" th:field="${customerBean.phone}" class="form-control form-control-sm"
										th:placeholder="#{commerce.screen.customer.phone.placeholder}" minlength="7" maxlength="12" required="required"></input>
								</div>
								<small id="phoneMsg"></small> <small th:if="${#fields.hasErrors('customerBean.phone')}" th:errors="${customerBean.phone}" class="text-danger">Phone
									Error</small>
							</div>
							<div class="form-group text-left">
								<label for="email"><small><span th:text="#{commerce.screen.customer.email}">Customer Email</span></small></label>
								<div class="input-group text-left">
									<input type="email" th:field="${customerBean.email}" class="form-control form-control-sm"
										th:placeholder="#{commerce.screen.customer.email.placeholder}" minlength="5" maxlength="80"></input>
								</div>
								<small id="emailMsg"></small> <small th:if="${#fields.hasErrors('customerBean.email')}" th:errors="${customerBean.email}" class="text-danger">Email
									Error</small>
							</div>
						</div>
					</div>
					<div class="row d-none" id="div_customerActions">
						<div class="col">
							<button class="btn btn-success btn-sm" id="btnSaveCustomer">
								<i class="fas fa-male mx-2"></i><span th:text="#{commerce.screen.customer.associate}"></span>
							</button>
							<button class="btn btn-secondary btn-sm" id="btnSearchCustomer">
								<i class="fas fa-search mx-2"></i><span th:text="#{commerce.screen.customer.search}"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Transaction Completion Modal -->
	<div class="modal fade " id="txnReceiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{commerce.screen.sale.receipt.print}"> Item Look up</span>
					</h5>
				</div>
				<div class="modal-body text-center">
					<div id="receiptActions" class="col-12 text-center">
						<button type="button" class="btn btn-info p-3 m-2" id="btnViewTxnReceipt">
							<i class="fas fa-receipt fa-5x"></i>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnPrintReceiptAndNewTxn">
							<i class="fas fa-print fa-5x"></i>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnNewSaleTxn">
							<i class="fas fa-cart-plus fa-5x" data-fa-transform="flip-h"></i>
						</button>
						<button type="button" class="btn btn-info p-3 m-2" id="btnNewReturnTxn">
							<span class="fa-layers fa-fw fa-5x"> <i class="fas fa-shopping-cart" data-fa-transform="flip-H"></i> <i
								class="fas fa-minus-circle icon-blue-theme" data-fa-transform="shrink-10 right--2 up-2"></i>
							</span>
						</button>
					</div>
					<div class="col-12 d-none text-center" id="progressDiv">
						<i class="fas fa-cog fa-spin fa-9x"></i>
						<div>
							<span th:text="#{commerce.screen.sale.receipt.generate}"></span>
						</div>
					</div>
					<iframe id="receiptPDFContainer" class="p-3" width="90%" height="85%" frameBorder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</body>
</html>