<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.lookup.inv.title}">Item Inventory Lookup Screen</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<link rel="stylesheet" href="../../css/utils/datatables.min.css" th:href="@{/css/utils/datatables.min.css}" />
<!-- Enable the auto complete item lookup-->
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/utils/pdfmake.min.js" th:src="@{/js/utils/pdfmake.min.js}"></script>
<script src="../../js/utils/vfs_fonts.js" th:src="@{/js/utils/vfs_fonts.js}"></script>
<script src="../../js/utils/datatables.min.js" th:src="@{/js/utils/datatables.min.js}"></script>
<script src="../../static/js/lookup/item/inv_lookup.js" th:src="@{/js/lookup/item/inv_lookup.js}"></script>
</head>
<body>
	<div id="wrapper">


		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div th:fragment="itemlookup-screen">
				<div class="card content-container">
					<div class="card-header">
						<h3 th:text="#{commerce.screen.lookup.inv.header}">Provide details for Item Inventory Lookup</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<form class="form" id="searchForm" action="#" th:action="@{/inventory_lookup}" th:object="${searchBean}" method="post">
								<div class="row">
									<div class="col-4">
										<div class="form-group text-left">
											<label for="searchText"><small><span class="pos-mandatory" th:text="#{commerce.screen.lookup.inv.item}">Item Details</span></small></label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> <span class="fa-layers fa-fw"> <i class="fas fa-file-alt" data-fa-transform="rotate-180"></i> <i
															class="fas fa-search" data-fa-transform="shrink-10 right-10 up-4"></i>
													</span>
													</span>
												</div>
												<input type="hidden" th:field="*{page}"></input> <input type="hidden" th:field="*{itemId}"></input> <input type="text" th:field="*{searchText}"
													class="form-control input-sm" th:placeholder="#{commerce.screen.item.search.text}" placeholder="Enter keyword to search"
													aria-describedby="searchHelp"></input>
												<div class="input-group-append d-none" id="itemSearchBusy">
													<span class="input-group-text"> <i class="fas fa-circle-notch fa-spin"></i>
													</span>
												</div>
											</div>
											<div th:if="${#fields.hasErrors('searchText')}" th:errors="*{searchText}" class="text-danger">Search Text Error</div>
											<small id="itemErrorMsg"></small>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group text-left">
											<label for="locationId"><small><span th:text="#{commerce.screen.common.location}">Location </span></small></label>
											<div class="input-group">
												<select th:field="*{locationId}" class="form-control input-sm">
													<option class="form-text" value="all" selected="selected" th:text="#{commerce.screen.common.select.all}">All Locations</option>
													<option th:each="location: ${locations}" th:value="${location.locationId}" th:text="${location.locationId} + ' - ' +${location.name}"></option>
												</select>
											</div>
											<small th:if="${#fields.hasErrors('locationId')}" th:errors="*{locationId}" class="text-danger">Location Error</small>
										</div>
									</div>

									<div class="col">
										<div class="form-group text-left">
											<label for="searchBtn"></label>
											<div class="input-group">
												<button type="submit" id="searchBtn" value="Search" class="btn btn-info">
													<i class="fas fa-search fa-2x mx-2"></i> <span th:text="#{commerce.screen.lookup.inv.btn.search}"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-text">

							<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
							<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>

							<div id="resultData" th:if="${invBeans!=null and #lists.size(invBeans)>0}">

								<table id="invDataTable" class="table table-striped table-hover table-bordered">
									<thead>
										<tr>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.s.no}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.item.id}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.location}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.total.qty}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.non.sellable.qty}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.reservable.qty}"></span></th>
											<th scope="col"><span th:text="#{commerce.screen.lookup.inv.soh.qty}"></span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="invBean,itrStat:${invBeans}">
											<td scope="row"><span th:text="${itrStat.index+1}"></span></td>
											<td><span th:text="${invBean.itemId+' - '+ invBean.itemDesc}"></span></td>
											<td><span th:text="${invBean.locationId +' - '+ locationsMap.get(invBean.locationId)}"></span></td>
											<td><span th:text="${invBean.totalQty}"></span></td>
											<td><span th:text="${invBean.nonSellableQty}"></span></td>
											<td><span th:text="${invBean.reservedQty}"></span></td>
											<td><span th:text="${invBean.sohQty}"></span></td>
										</tr>
									</tbody>
								</table>
								<div id="tableBtns" class="text-center"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>
</html>