<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.login.title}">User Login</title>
<!-- This is to include all the needed css and javascripts -->
<div th:replace="common/header:: header"></div>
<style>
body, html {
	height: 100%;
	background-color: #EDF5E1;
}
</style>
</head>
<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="border-box-filled" style="width: 300px;">
				<div class="border-box-title">
					<h3>
						<span th:text="#{commerce.screen.login.header}"></span>
					</h3>
				</div>
				<div class="border-box-body">
					<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
					<div th:if="${param.error}" th:text="#{commerce.screen.login.invalid.password}" class="alert alert-danger" role="alert"></div>
					<div th:if="${param.logout}" th:text="#{commerce.screen.logout.success}" class="alert alert-success" role="alert"></div>
					<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success" role="alert"></div>
					<form action="#" th:action="@{/login}" th:object="${loginBean}" method="post">
						<div class="input-group form-group">
							<input type="email" class="form-control" th:field="*{username}" placeholder="Email Address" th:placeholder="#{commerce.screen.login.username}"
								required="required" autofocus=""></input>
						</div>
						<div class="input-group form-group">
							<input type="password" class="form-control" th:field="*{password}" placeholder="Password" th:placeholder="#{commerce.screen.login.password}"
								required="required"></input>
						</div>
						<div class="row">
							<div class="col-2"></div>
							<div class="col-4">
								<button type="submit" class="btn btn-info">
									<i class="fas fa-sign-in-alt"></i><span th:value="#{commerce.btn.login}"> Login</span>
								</button>
							</div>
							<div class="col-4">
								<a th:href="@{/register}" class="btn btn-info"><i class="fas fa-user-plus"></i><span th:text="#{commerce.link.signup}"> Signup now!</span></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>