<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:if="${ action!=null and action=='EDIT'}" th:text="#{commerce.screen.price.edit.title}"></title>
<title th:if="${ action!=null and action=='NEW'}" th:text="#{commerce.screen.price.add.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<!-- This thymeleaf fragment include the item lookup code-->
<th:block th:include="lookup/item_lookup :: itemlookup-scripts"></th:block>
<link href="../../static/css/flatpickr.min.css"
	th:href="@{/css/flatpickr.min.css}" rel="stylesheet" />
<script src="../../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card content-container">
				<div class="card-header">
					<h3 th:if="${ action!=null and action=='NEW'}" th:text="#{commerce.screen.price.add.header}">Create New Price for Style/Item</h3>
					<h3 th:if="${ action!=null and action=='EDIT'}" th:text="#{commerce.screen.price.edit.header}">Modify Price for Style/Item</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
						<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
						<form id="addForm" action="#" th:action="${ action!=null and action=='NEW'}? @{/admin/add_price}:@{/admin/edit_price}" th:object="${priceBean}"
							method="post">
							<div class="row" th:if="${ action!=null and action=='EDIT'}">
								<div class="col-1">
									<div class="form-group input-group text-right">
										<label for="itemId"><small><span th:text="#{commerce.screen.common.id}"></span></small></label>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group input-group text-left">
										<h4>
											<span th:text="${priceBean.itemPriceId}"></span>
										</h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label for="itemId"><small><span th:text="#{commerce.screen.common.style.item}"></span></small></label>
										<div class="input-group text-left">
											<input type="hidden" th:field="*{itemPriceId}"></input> <input type="hidden" th:field="*{createdBy}"></input> <input type="hidden"
												th:field="*{createdDate}"></input> <input type="text" th:field="*{itemId}" class="form-control input-sm"></input> <a data-toggle="modal"
												data-target="#itemModal" class="nav-link" href="#"><i class="material-icons">search</i></a>
										</div>
										<small th:if="${#fields.hasErrors('itemId')}" th:errors="*{itemId}" class="text-danger align-top">Item Error </small>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="locationId"><small><span th:text="#{commerce.screen.common.location}"></span></small></label>
										<div class="input-group text-left">
											<select th:field="*{locationId}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.inventory.location}">Select Location</option>
												<option th:each="location: ${priceBean.locations}" th:value="${location.locationId}"
													th:text="${location.locationId} + ' - ' +${location.name}"></option>
											</select>
										</div>
										<small th:if="${#fields.hasErrors('locationId')}" th:errors="*{locationId}" class="text-danger align-top">Location Error </small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="type"><small><span th:text="#{commerce.screen.price.type}">Price Type</span></small></label>
										<div class="input-group text-left">
											<select th:field="*{priceType}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.price.select.type}">Select Price
													Type</option>
												<option value="1" th:text="#{commerce.screen.price.type.permanent}">Permanent</option>
												<option value="2" th:text="#{commerce.screen.price.type.promotion}">Promotion</option>
												<option value="3" th:text="#{commerce.screen.price.type.clearance}">Clearance</option>
											</select>
										</div>
										<small th:if="${#fields.hasErrors('priceType')}" th:errors="*{priceType}" class="text-danger align-top">Price Type Error </small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label for="startDate"><small><span th:text="#{commerce.screen.common.date.start}">Start Date</span></small></label>
										<div class="input-group text-left">
											<input type="text" th:field="*{startDate}" class="form-control input-sm" data-input="data-input"></input>
											<div class="input-group-append">
												<a class="btn btn-info btn-sm" title="toggle" data-toggle="data-toggle"><i class="material-icons">done</i></a>
											</div>
										</div>
										<small th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger align-top">Start Date Error </small>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="endDate"><small><span th:text="#{commerce.screen.common.date.end}">End Date</span></small></label>
										<div class="input-group text-left">
											<input type="text" th:field="*{endDate}" class="form-control input-sm" data-input="data-input"></input>
											<div class="input-group-append">
												<a class="btn btn-info btn-sm" title="toggle" data-toggle="data-toggle"><i class="material-icons">done</i></a>
											</div>
										</div>
										<small th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger align-top">End Date Error</small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="itemPriceAmt"><small><span th:text="#{commerce.screen.price.item.price}">Item Price Amount</span></small></label>
										<div class="input-group text-left">
											<input type="text" th:field="*{itemPriceAmt}" class="form-control input-sm"></input>
										</div>
										<small th:if="${#fields.hasErrors('itemPriceAmt')}" th:errors="*{itemPriceAmt}" class="text-danger align-top">Item Price Error </small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="submit" name="savePrice" value="Save" th:value="#{commerce.screen.btn.submit.save}" class="btn btn-info  btn-sm"></input> <input
											type="submit" name="approvePrice" value="Approve" th:value="#{commerce.screen.btn.submit.approve}" class="btn btn-success  btn-sm"></input>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Item Lookup Modal -->
	<div class="modal fade " id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span th:text="#{commerce.screen.lookup.item}"> Item Look up</span>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- This thymeleaf fragment include the item lookup code-->
					<div th:include="lookup/item_lookup :: itemlookup-screen"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" th:value="#{commerce.btn.close}">Close</button>
					<button type="button" id="itemChooseBtn" class="btn btn-primary" value="Choose This Supplier" th:value="#{commerce.btn.choose.item}">Choose
						This Item</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		$(function() {
			$('#itemChooseBtn').click(function(e) {
				$('#itemModal').modal('toggle');
				var rdItem = $('input[name="rditemId"]');
				var checkValue = rdItem.filter(':checked').val();
				$('#itemId').val(checkValue);
			});

		});

		$('#startDate').flatpickr({
			enableTime : true,
			dateFormat : 'd-M-y H:i:S',
			time_24hr : true
		});
		$('#endDate').flatpickr({
			enableTime : true,
			dateFormat : 'd-M-y H:i:S',
			time_24hr : true
		});

		/*]]>*/
	</script>
</body>
</html>