body {
	padding-bottom: 40px;
	background-color: #525252;
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}


.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.address {
	position: relative;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 5px; border-color : orange;
	text-align: left; height : auto;
	padding: 10px;
	font-size: 16px;
	height: auto;
	border-color: orange;
}

.album {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f7f7f7;
}

.album .card {
	float: left;
	width: 31.333%;
	padding: .75rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	box-sizing: border-box;
	border-radius: 5px; 
}

.album .card-text {
	font-size: 85%;
}

.album .footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.album .footer p {
	margin-bottom: .25rem;
}


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 8px; }
.material-icons.md-18 { font-size: 9px; }
.material-icons.md-18 { font-size: 10px; }
.material-icons.md-18 { font-size: 11px; }
.material-icons.md-18 { font-size: 12px; }
.material-icons.md-18 { font-size: 14px; }
.material-icons.md-18 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-96 { font-size: 96px; }
