<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.supplier.search}">Commerce
	Home Page</title>

<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>

</head>
<body>

	<div id="wrapper">

		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>



			<!-- This thymeleaf fragment is the body part for the page-->
			<th:block th:fragment="content">
				<div class="album text-muted"
					th:if="${items!=null and items.items!=null and #lists.size(items.items)>0}">
					<div class="item">
						<div class="row">
							<div class="col-12 text-right">
								<nav aria-label="Pagination" th:if="${pager!=null}">
									<ul class="pagination pagination-sm justify-content-end">
										<li
											th:class="${pager.firstPage} ? 'page-item disabled': 'page-item'"><a
											class="page-link" href="#" th:href="@{/home(page=1)}"
											tabindex="-1">First</a></li>

										<th:block th:each="page,itrStat:${pager.displayPages}">
											<li
												th:class="${pager.currentPageNo == page} ? 'page-item active': 'page-item'"><a
												class="page-link" href="#" th:href="@{/home(page=${page})}"><span
													th:text="${page}"></span></a></li>
										</th:block>


										<li
											th:class="${pager.lastPage} ? 'page-item disabled': 'page-item'"><a
											class="page-link" href="#"
											th:href="@{/home(page=${pager.lastPageNo})}">Last</a></li>

									</ul>
								</nav>

							</div>
						</div>


						<div class="row">

							<th:block th:each="item,itrStat:${items.items}">

								<div class="card">
									<img class="img-thumbnail" src="../../static/images/1.jpg"
										th:src="@{/images/1.jpg}" alt="Card image cap"></img>
									<div class="card-body">
										<div class="card-title">
											<span th:text="${items.items[__${itrStat.index}__].name}">Item
												Name</span>
										</div>
										<p class="card-text">
											<span th:text="${items.items[__${itrStat.index}__].longDesc}">Item
												Description</span>
										</p>
									</div>
									<div class="card-footer">
										<div class="btn-group">
											<a href="#" class="btn btn-success btn-sm"
												th:text="#{commerce.screen.btn.submit.add.cart}">Add to
												Cart</a> 
<!-- 												<a href="#" class="btn btn-secondary btn-sm"
												th:text="#{commerce.screen.btn.submit.add.wishlist}">Add
												to Wishlist</a> -->
												<a href="#" th:href="@{/item_detail(itemNumber=${items.items[__${itrStat.index}__].itemId})}" class="btn btn-info btn-sm"
												th:text="#{commerce.screen.btn.submit.item.details}">Go
												to Details</a>
										</div>
									</div>
								</div>

							</th:block>
						</div>
						<div class="row">
							<div class="col-12 text-right">
								<th:block th:fragment="pagination">

									<nav aria-label="Pagination" th:if="${pager!=null}">
										<ul class="pagination pagination-sm justify-content-end">
											<li
												th:class="${pager.firstPage} ? 'page-item disabled': 'page-item'"><a
												class="page-link" href="#" th:href="@{${pager.viewBasePath}(page=1)}"
												tabindex="-1">First</a></li>

											<th:block th:each="page,itrStat:${pager.displayPages}">
												<li
													th:class="${pager.currentPageNo == page} ? 'page-item active': 'page-item'"><a
													class="page-link" href="#" th:href="@{${pager.viewBasePath}(page=${page})}"><span
														th:text="${page}"></span></a></li>
											</th:block>


											<li
												th:class="${pager.lastPage} ? 'page-item disabled': 'page-item'"><a
												class="page-link" href="#"
												th:href="@{${pager.viewBasePath}(page=${pager.lastPageNo})}">Last</a></li>

										</ul>
									</nav>
								</th:block>
							</div>
						</div>
					</div>
				</div>

			</th:block>


		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
</body>
</html>