<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title th:text="#{commerce.screen.supplier.search}">Commerce
	Home Page</title>

<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>

</head>
<body>

	<div id="wrapper">

		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>



			<!-- This thymeleaf fragment is the body part for the page-->
			<th:block th:fragment="content">

				<div class="album text-muted">
					<div class="item">
						<div class="row">
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/1.jpg" th:src="@{/images/1.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>
							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/2.jpg" th:src="@{/images/2.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>


							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/3.jpg" th:src="@{/images/3.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>


							</div>

							<div class="card">
								<img class="img-thumbnail" src="../../static/images/4.jpg" th:src="@{/images/4.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>

							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/5.jpg" th:src="@{/images/5.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>

							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/6.jpg" th:src="@{/images/6.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>


							</div>

							<div class="card">
								<img class="img-thumbnail" src="../../static/images/7.jpg" th:src="@{/images/7.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>

							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/8.jpg" th:src="@{/images/8.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>

							</div>
							<div class="card">
								<img class="img-thumbnail" src="../../static/images/9.jpg"  th:src="@{/images/9.jpg}"
									alt="Card image cap"></img>
								<div class="card-body">
									<div class="card-title">Item Name</div>
									<p class="card-text">This is a wider card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>
								</div>
								<div class="card-footer">
									<div class="btn-group">
										<a href="#" class="btn btn-success btn-sm">Add to Cart</a> <a
											href="#" class="btn btn-secondary btn-sm">Add to Wishlist</a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</th:block>


		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
</body>
</html>