<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Top Navbar</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
</head>
<body>
	<div th:fragment="navbarMenu">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="collapse navbar-collapse global-help" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto global-help" data-step="1" data-th-attr="data-intro=#{commerce.help.navbar.menus}">
					<li class="nav-item"><div class="valign-center">
							<a class="nav-link" id="home" th:href="@{/pos/home}"><i class="fas fa-home fa-2x mx-2"></i><span th:text="#{commerce.home.link.home}">Home</span></a>
						</div></li>
					<!-- Point of Sales Menu starts -->
					<li class="nav-item megamenu dropdown"><a class="nav-link dropdown-toggle" href="#" id="posDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x mx-2" data-fa-transform="flip-h"></i> <span
							th:text="#{commerce.home.menu.pos}">Point Of Sales</span> </a>
						<div class="dropdown-menu megamenu-container" aria-labelledby="navbarDropdown">
							<div class="row">
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.transactions}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/pos/sale}"><i class="fas fa-cart-plus fa-2x mx-2" data-fa-transform="flip-h"></i><span
												th:text="#{commerce.home.menu.sale}">Sale Transaction</span></a> <a class="dropdown-item megamenu-item" th:href="@{/pos/return_txn}"> <span
												class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-shopping-cart" data-fa-transform="flip-H"></i> <i
													class="fas fa-minus-circle icon-blue-theme" data-fa-transform="shrink-10 right--2 up-2"></i>
											</span> <span th:text="#{commerce.home.menu.return}">Return Transaction</span></a> <a class="dropdown-item megamenu-item" th:href="@{/pos/expenses}"> <span
												class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-hand-holding" data-fa-transform="rotate-180"></i> <i class="fas fa-money-bill-alt"
													data-fa-transform="shrink-6 left-6 down-5 rotate-90"></i> <i class="fas fa-money-bill-alt" data-fa-transform="shrink-6 down-5 rotate-45"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.expense}">Expense</span>
											</a> <a class="dropdown-item megamenu-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/supplier/payment}"> <span
												class="fa-2x mx-2 fa-layers fa-fw"> <i class="fas fa-users"></i> <i class="fas fa-dollar-sign" data-fa-transform="shrink-11 right-11 up-4"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.payment.supplier}">Supplier Payment</span></a> <a class="dropdown-item megamenu-item"
												sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/customer/payment}"> <span class="fa-2x mx-2 fa-layers fa-fw"> <i
													class="fas fa-male"></i> <i class="far fa-money-bill-alt" data-fa-transform="shrink-11 right-9 up-4 rotate--45"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.payment.customer}">Customer Payment</span></a>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.daily.deeds}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/pos/open_store}"><span class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-home"></i>
													<i class="fas fa-play" data-fa-transform="shrink-10 right-11"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.open.store}">Open Store</span></a> <a class="dropdown-item megamenu-item" th:href="@{/pos/close_store}"><span
												class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-home"></i> <i class="fas fa-times" data-fa-transform="shrink-10 right-11"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.close.store}">Close Store</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/pos/open_register}"><span class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-tablet-alt"></i> <i class="fas fa-play"
													data-fa-transform="shrink-10 right-11"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.open.register}">Open Register</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/pos/close_register}"><span class="fa-layers fa-fw fa-2x mx-2"> <i class="fas fa-tablet-alt"></i> <i class="fas fa-times"
													data-fa-transform="shrink-10 right-11"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.close.register}">Close Register</span></a>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.lookup}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/item_lookup}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i class="far fa-file-alt"></i>
													<i class="fas fa-search" data-fa-transform="shrink-10 right-11 up-4"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.lookup.item}">Lookup Item</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/inventory_lookup}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i class="far fa-clipboard"></i> <i class="fas fa-search"
													data-fa-transform="shrink-10 right-11 up-4"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.lookup.item.inventory}">Item Inventory Lookup</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/admin/account_lookup}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i class="fas fa-users"></i> <i class="fas fa-search"
													data-fa-transform="shrink-10 right-11 up-4"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.lookup.supplier.account}">Supplier Account Lookup</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/admin/customer_account_lookup}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i class="fas fa-male"></i> <i
													class="fas fa-search" data-fa-transform="shrink-10 right-11 up-4"></i>
											</span><span class="ml-2" th:text="#{commerce.home.menu.lookup.customer.account}">Customer Account Lookup</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/admin/transaction_lookup}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i class="fas fa-shopping-cart"></i> <i
													class="fas fa-search" data-fa-transform="shrink-10 right-12 up-4"></i>
											</span><span th:text="#{commerce.home.menu.lookup.transaction}">Transaction Lookup</span></a>

										</div>
									</div>
								</div>
							</div>
						</div></li>
					<!-- Point of Sales Menu ends -->
					<!-- Admin Menu starts -->
					<li sec:authorize="hasAuthority('ADMIN')" class="nav-item megamenu dropdown"><a class="nav-link dropdown-toggle" href="#" id="adminDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie fa-2x mx-2"></i><span
							th:text="#{commerce.home.link.admin}">Admin</span></a>
						<div class="dropdown-menu megamenu-container" aria-labelledby="navbarDropdown">
							<div class="row">
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.order}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/admin/manage_order}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i
													class="far fa-file-powerpoint"></i> <i class="fas fa-cog" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span><span th:text="#{commerce.home.menu.search.order}">Search Purchase Order</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/add_order}"><span
												class="fa-2x mx-3 fa-layers fa-fw"> <i class="far fa-file-powerpoint"></i> <i class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span><span th:text="#{commerce.home.menu.add.order}">Create Purchase Order</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/admin/manage_order_return}"> <span class="fa-2x mx-3 fa-layers fa-fw"> <i class="fas fa-redo-alt"
													data-fa-transform="rotate-180 shrink-1"></i> <i class="far fa-file-powerpoint" data-fa-transform="shrink-9"></i> <i class="fas fa-cog"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span> <span th:text="#{commerce.home.menu.search.order.return}">Manage Order Returns</span></a>

										</div>
									</div>
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.supplier}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/admin/manage_supplier}"><span class="fa-2x mx-3 fa-layers fa-fw"> <i
													class="fas fa-users"></i> <i class="fas fa-cog" data-fa-transform="shrink-10 right-11 up-4"></i>
											</span><span th:text="#{commerce.home.menu.manage.supplier}">Manage Supplier</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/add_supplier}"><span
												class="fa-2x mx-3 fa-layers fa-fw"> <i class="fas fa-users"></i> <i class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span><span th:text="#{commerce.home.menu.add.supplier}">Add New Supplier</span></a>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.style}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/search_item}"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i
														class="far fa-file-alt" data-fa-transform="rotate-180"></i> <i class="fas fa-cog" data-fa-transform="shrink-10 right-10 up-4"></i>
												</span>
											</span><span th:text="#{commerce.home.menu.search.item}">Search Items</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/add_style}"><span
												class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="far fa-file-alt" data-fa-transform="rotate-180"></i> <i
														class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
												</span>
											</span><span th:text="#{commerce.home.menu.add.style}">Add New Style</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/attr_val_action}"><i
												class="fas fa-cog fa-2x mr-2"></i> <span th:text="#{commerce.home.menu.attribute}">Maintain Item Attributes</span></a>

										</div>
									</div>
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.inventory}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/admin/manage_inv_adjust}"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw">
														<i class="far fa-clipboard"></i> <i class="fas fa-cog" data-fa-transform="shrink-10 right-10 up-4"></i>
												</span>
											</span><span th:text="#{commerce.home.menu.search.inventory}">Search Inventory Adjustment</span></a> <a class="dropdown-item megamenu-item"
												th:href="@{/admin/add_inv_adjust}"><span class="fa-2x mr-2"> <span class="fa-layers fa-fw"> <i class="fas fa-clipboard"></i> <i
														class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
												</span>
											</span><span th:text="#{commerce.home.menu.add.inventory}">Create Inventory Adjustment</span></a>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.price}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/admin/manage_price}"><span class="fa-2x mx-2 fa-layers fa-fw"> <i class="far fa-file"
													data-fa-transform="rotate-180"></i> <i class="fas fa-dollar-sign" data-fa-transform="shrink-10 up-2"></i><i class="fas fa-cog"
													data-fa-transform="shrink-10 right-10 up-4"></i>
											</span><span th:text="#{commerce.home.menu.search.price}">Search Price Events</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/add_price}"><span
												class="fa-2x mx-2 fa-layers fa-fw"> <i class="far fa-file" data-fa-transform="rotate-180"></i> <i class="fas fa-dollar-sign"
													data-fa-transform="shrink-10 up-2"></i><i class="fas fa-plus" data-fa-transform="shrink-10 right-10 up-4"></i>
											</span><span th:text="#{commerce.home.menu.add.price}">New Price Event</span></a>
										</div>
									</div>
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.account}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/admin/manage_accounts}"><i class="fas fa-users-cog fa-2x mr-2"></i> <span
												th:text="#{commerce.home.menu.manage.accounts}">Manage Accounts</span></a> <a class="dropdown-item megamenu-item" th:href="@{/admin/create_account}"><i
												class="fas fa-user-plus fa-2x mr-2"></i> <span th:text="#{commerce.home.menu.create.account}">Create Account</span></a>
										</div>
									</div>
								</div>
							</div>
						</div></li>
					<!-- Admin Menu ends -->
					<!-- Reports Menu starts -->
					<!-- <li class="nav-item megamenu dropdown"><a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><i class="fas fa-receipt fa-2x mx-2" data-fa-transform="flip-h"></i> <span
							th:text="#{commerce.home.menu.reports}">Reports</span> </a>
						<div class="dropdown-menu megamenu-container" aria-labelledby="navbarDropdown">
							<div class="row">
								<div class="col">
									<div class="megamenu-item-card my-2">
										<div class="megamenu-item-header">
											<span class="mx-3" th:text="#{commerce.home.menu.reports.finance}"></span>
										</div>
										<div class="megamenu-item-body">
											<a class="dropdown-item megamenu-item" th:href="@{/reports/admin/ledger}"><i class="fas fa-file-invoice-dollar fa-3x mx-3"></i><span
												th:text="#{commerce.home.menu.reports.ledger}">Ledger Report</span></a> 
																						
										</div>
									</div>
								</div>
							</div>
						</div></li> -->
					<!-- Reports Menu ends -->
				</ul>
				<form class="form-inline my-2 my-lg-0 navbar-nav">
					<input class="form-control input-sm ml-2 global-help" data-step="4" data-th-attr="data-intro=#{commerce.help.navbar.search}" type="search"
						placeholder="Search" aria-label="Search" th:placeholder="#{commerce.home.label.search}"></input> <a class="nav-link" href="#"><i class="fas fa-search">search</i></a>
					<div class="form-inline global-help" data-step="3" data-th-attr="data-intro=#{commerce.help.navbar.right.actions}">
						<select id="langSelect" name="langSelect" class="form-control input-sm" th:title="#{commerce.tooltip.select.locale}">
							<option class="form-text" value="en_US" th:selected="${(#locale.language+'_'+#locale.country)=='en_US'}" th:text="#{commerce.lang.us.en}"></option>
							<option class="form-text" value="en_IN" th:selected="${(#locale.language+'_'+#locale.country)=='en_IN'}" th:text="#{commerce.lang.in.en}"></option>
							<option class="form-text" value="hi_IN" th:selected="${(#locale.language+'_'+#locale.country)=='hi_IN'}" th:text="#{commerce.lang.in.hi}"></option>
							<option class="form-text" value="pa_IN" th:selected="${(#locale.language+'_'+#locale.country)=='pa_IN'}" th:text="#{commerce.lang.in.pa}"></option>
						</select>
						<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user-cog fa-2x"></i> <span
								th:text="#{commerce.home.link.account}">Your Account</span>
						</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" id="manageaccount" th:href="@{/account/manage_user}"><span class="mr-2"> <span class="fa-layers fa-fw"> <i
											class="far fa-user"></i> <i class="fas fa-cog" data-fa-transform="shrink-10 right-10 up-4"></i>
									</span>
								</span><span th:text="#{commerce.home.menu.manage.account}">Manage Account</span></a> <a class="dropdown-item" id="changepassword"
									th:href="@{/account/change_password}"><i class="fas fa-key mr-2"></i><span th:text="#{commerce.home.menu.change.password}">Change Password</span></a>
							</div></li> <a class="nav-link" th:title="#{commerce.tooltip.btn.login}" href="#" th:href="@{/login}" sec:authorize="isAnonymous()"> <i
							class="fas fa-sign-in-alt fa-2x mx-2"></i></a> <a class="nav-link" th:title="#{commerce.tooltip.btn.logout}" href="#" onClick="confirmLogout()"
							sec:authorize="isAuthenticated()"> <i class="fas fa-sign-out-alt fa-2x mx-2"></i></a>
					</div>
					<a class="nav-link global-help" th:title="#{commerce.tooltip.btn.help}" data-step="2" data-th-attr="data-intro=#{commerce.help.navbar.help}" href="#"
						onClick="introJs().start()"> <i class="far fa-question-circle fa-2x mx-2"></i></a>
				</form>
			</div>
		</nav>
		<!-- Alert Modal -->
		<div class="modal fade " id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header" id="alertModalHeader">
						<h5 class="modal-title" id="alertModalTitle">
							<span th:text="#{commerce.screen.common.busy.header}"> Work In Progress</span>
						</h5>
					</div>
					<div class="modal-body text-center m-2">
						<div class="col-12 text-center" id="alertModalBody"></div>
					</div>
					<div class="modal-footer footer-btns" id="alertModalFooter"></div>
				</div>
			</div>
		</div>
		<!-- Busy Screen Modal -->
		<div class="modal fade " id="screenBusyModal" tabindex="-1" role="dialog" aria-labelledby="screenBusyModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="screenBusyModalLabel">
							<span th:text="#{commerce.screen.common.busy.header}"> Work In Progress</span>
						</h5>
					</div>
					<div class="modal-body text-center">
						<div class="col-12 text-center" id="progressDiv">
							<i class="fas fa-cog fa-spin fa-9x"></i>
							<div>
								<span th:text="#{commerce.screen.common.busy.body.text}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/

		var current_locale= /*[[${#locale.language}]]*/;
		
		/*]]>*/
	</script>
	</div>
</body>
</html>