<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title>Style Creation Page</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/item/item_classes.js" th:src="@{/js/item/item_classes.js}"></script>
<script src="../../js/item/item.js" th:src="@{/js/item/item.js}"></script>
</head>
<body>
	<div id="wrapper">
		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/pos_menu:: leftMenu"></div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="card content-container">
				<div class="card-header">
					<h3>Create a Style</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<div th:if="${ success!=null}" th:text="${success}" class="alert alert-success " role="alert"></div>
						<div th:if="${ alert!=null}" th:text="${alert}" class="alert alert-danger " role="alert"></div>
						<form class="form" action="#" th:action="@{/add_style}" th:object="${itemBean}" method="post">
							<div class="form-group">
								<label><small><span th:text="#{commerce.screen.item.name}">Item Name</span></small></label>
								<div class="input-group">
									<input type="text" th:field="*{name}" class="form-control input-sm" th:placeholder="#{commerce.screen.item.name.placeholder}"></input>
								</div>
								<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name Error</div>
							</div>
							<div class="form-group">
								<label><small><span th:text="#{commerce.screen.item.description}">Item Description</span></small></label>
								<div class="input-group">
									<textarea th:field="*{longDesc}" class="form-control input-sm" th:placeholder="#{commerce.screen.item.description.placeholder}" rows="2"></textarea>
								</div>
								<div th:if="${#fields.hasErrors('longDesc')}" th:errors="*{longDesc}" class="text-danger">Description Error</div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<label><small><span th:text="#{commerce.screen.item.hierarchy}">Item Hierarchy
													(Department/Sub-Department/Category/Sub-Category)</span></small></label>
										<div class="input-group">
											<input type="text" th:field="*{hierarchy.name}" class="form-control input-sm"
												th:placeholder="#{commerce.screen.item.hierarchy.placeholder}"></input>
										</div>
										<div th:if="${#fields.hasErrors('hierarchy.name')}" th:errors="*{hierarchy.name}" class="text-danger">Item Hierarchy Error</div>
										<input type="hidden" th:field="*{hierarchy.hierarchyId}"></input>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<label><small><span th:text="#{commerce.screen.item.select.type}">Select Item Type</span></small></label>
										<div class="input-group">
											<select th:field="*{itemType}" class="form-control input-sm">
												<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.item.select.type}">Select Item Type</option>
												<option th:value="Merchandise" th:text="#{commerce.screen.item.type.merch}"></option>
												<option th:value="Non-Merchandise" th:text="#{commerce.screen.item.type.nonmerch}"></option>
												<option th:value="Service" th:text="#{commerce.screen.item.type.service}"></option>
											</select>
										</div>
										<div th:if="${#fields.hasErrors('itemType')}" th:errors="*{itemType}" class="text-danger">Item TypeError</div>
									</div>
								</div>
							</div>
							<!-- Default Settings -->
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="card form-group">
										<div class="card-header">
											<div class="row">
												<div class="col-11 text-left">Default Options</div>
												<div class="col-1 text-right">
													<a data-toggle="collapse" href="#defaultOptions" aria-expanded="false" aria-controls="defaultOptions"><i
														class="material-icons md-dark">keyboard_arrow_down</i></a>
												</div>
											</div>
										</div>
										<div id="defaultOptions" class="collapse show">
											<div class="card-body">
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label><small><span th:text="#{commerce.screen.item.tax.group}">Tax Group</span></small></label>
															<div class="input-group">
																<select th:field="*{itemOptions.taxGroupId}" class="form-control input-sm">
																	<option class="form-text text-muted" value="" selected="selected" th:text="#{commerce.screen.item.select.tax.group}">Select
																		Tax Group</option>
																	<option th:each="taxGroup: ${taxGroups}" th:value="${taxGroup.taxGroupId}"
																		th:text="${taxGroup.name} + ' - ' +${taxGroup.description}"></option>
																</select>
															</div>
															<div th:if="${#fields.hasErrors('itemOptions.taxGroupId')}" th:errors="*{itemOptions.taxGroupId}" class="text-danger">Tax Group
																Error</div>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" th:field="*{itemOptions.packSize}" class="form-control input-sm" placeholder="Pack Size"></input>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" th:field="*{itemOptions.uom}" class="form-control input-sm" placeholder="Enter Unit of Measure"></input>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.discountFlag}" />
																Discount Flag
															</label>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.returnFlag}"></input>
																Return Flag
															</label>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.taxFlag}" /> Tax Flag
															</label>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.askQtyFlag}"></input>
																Ask Qty Flag
															</label>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.askPriceFlag}" /> Ask
																Price Flag
															</label>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.descFlag}"></input>
																Ask Description Flag
															</label>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.priceChangeFlag}" />
																Price Change Allowed
															</label>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.nonMerchFlag}"></input>
																Non Merch Flag
															</label>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.minAgeFlag}" /> Min
																Age Needed
															</label>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-check text-left">
															<label class="form-check-label"> <input type="checkbox" class="form-check-input" th:field="*{itemOptions.customerPromptFlag}"></input>
																Customer Prompt Flag
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Prices -->
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="card form-group">
										<div class="card-header">
											<div class="row">
												<div class="col-11 text-left">Prices</div>
												<div class="col-1 text-right">
													<a data-toggle="collapse" href="#prices" aria-expanded="false" aria-controls="prices"><i class="material-icons md-dark">keyboard_arrow_down</i></a>
												</div>
											</div>
										</div>
										<div id="prices" class="collapse show">
											<div class="card-body">
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" class="form-control input-sm" placeholder="Unit Cost" th:field="*{itemOptions.unitCost}"></input>
															<div th:if="${#fields.hasErrors('itemOptions.unitCost')}" th:errors="*{itemOptions.unitCost}" class="text-danger">Unit Cost Error</div>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" class="form-control input-sm" placeholder="Suggested Price" th:field="*{itemOptions.suggestedPrice}"></input>
															<div th:if="${#fields.hasErrors('itemOptions.suggestedPrice')}" th:errors="*{itemOptions.suggestedPrice}" class="text-danger">Suggested
																Price Error</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" class="form-control input-sm" placeholder="Compare at Price" th:field="*{itemOptions.compareAtPrice}"></input>
															<div th:if="${#fields.hasErrors('itemOptions.compareAtPrice')}" th:errors="*{itemOptions.compareAtPrice}" class="text-danger">Compare
																At Price Error</div>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" class="form-control input-sm" placeholder="Current Price" th:field="*{itemOptions.currentPrice}"></input>
															<div th:if="${#fields.hasErrors('itemOptions.currentPrice')}" th:errors="*{itemOptions.currentPrice}" class="text-danger">Current
																Price Error</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" class="form-control input-sm" placeholder="Restocking Fee" th:field="*{itemOptions.restockingFee}"></input>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Images -->
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="card form-group">
										<div class="card-header">
											<div class="row">
												<div class="col-11 text-left">Images</div>
												<div class="col-1 text-right">
													<a data-toggle="collapse" href="#images" aria-expanded="false" aria-controls="images"><i class="material-icons md-dark">keyboard_arrow_down</i></a>
												</div>
											</div>
										</div>
										<div id="images" class="collapse show">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<th:block th:each="itemImage,itrStat:${itemBean.itemImages}">
															<div class="form-group">
																<div class="input-group">
																	<span class="input-group-addon"> <input type="checkbox" th:field="*{featureList}" th:value="${itemImage.key}" /> <span
																		class="input-group-addon" th:text="${itemImage.key}"></span>
																	</span> <input type="text" class="form-control input-sm" th:placeholder="'Image File Name for '+${itemImage.key}" th:id="${itemImage.key}"
																		th:field="*{itemImages[__${itemImage.key}__]}" th:value="${itemImage.value}" />
																</div>
															</div>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Style Attributes -->
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="card form-group">
										<div class="card-header">
											<div class="row">
												<div class="col-11 text-left">Item Attributes</div>
												<div class="col-1 text-right">
													<a data-toggle="collapse" href="#itemAttributes" aria-expanded="false" aria-controls="itemAttributes"><i
														class="material-icons md-dark">keyboard_arrow_down</i></a>
												</div>
											</div>
										</div>
										<div id="itemAttributes" class="collapse show">
											<div class="card-body">
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label class="form-select-label">Select Colors for the Style </label> <select id="color-select" class="form-control input-sm"
																placeholder="Select Colors for the item" th:field="*{itemColorSelected}" multiple="multiple">
																<option th:each="colorBean: ${colorList}" th:value="${colorBean.attributeId}+'_'+${colorBean.value}" th:text="${colorBean.value}"></option>
															</select>
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<label class="form-select-label"> Select Sizes for the Style </label> <select id="size-select" class="form-control input-sm"
																placeholder="Select Size for the item" th:field="*{itemSizeSelected}" multiple="multiple">
																<option th:each="sizeBean: ${sizeList}" th:value="${sizeBean.attributeId}+'_'+${sizeBean.value}" th:text="${sizeBean.value}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input type="submit" value="Save" class="btn btn-info btn-block"></input>
						</form>
					</div>
				</div>
				<div class="card-footer text-muted">Some text here at later point</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Hierarchy Modal -->
	<div class="modal fade " id="hierarchyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Select Item Hierarchy</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" id="addressbtn" class="btn btn-primary">Choose Hierarchy</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Tax Modal -->
	<div class="modal fade " id="taxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Choose Tax Group</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" id="addressbtn" class="btn btn-primary">Choose Tax Group</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#hierarchybtn").click(function() {

			$('#hierarchyModal').modal('toggle');

		});

		$("#taxbtn").click(function() {

			$('#taxModal').modal('toggle');

		});
	</script>
</body>
</html>