<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Hierarchy Creation Page</title>

<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>

</head>
<body>

	<div id="wrapper">

		<!-- This thymeleaf fragment include left menu -->
		<div th:include="common/menu:: leftMenu"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>



			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="container">
				<div class="card">
					<div class="card-header">
						<h3>Manage Item Hierarchy</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<form class="form" action="#" th:action="@{/manage_hierarchy}"
								th:object="${hierarchyBean}" method="post">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<select id="dept-select" class="form-control input-sm"
												placeholder="Select Department" th:field="*{name}">
												<option>Alfa Romeo</option>
												<option>Audi</option>
												<option>BMW</option>
												<option>Citroen</option>
											</select>


										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3">
										<div class="btn-group" role="group">
											<input type="button" class="btn btn-secondary" value="Add"></input>
											<input type="button" class="btn btn-secondary" value="Edit"></input>
											<input type="button" class="btn btn-secondary" value="Delete"></input>
										</div>
									</div>
								</div>

								<!-- Sub Department -->
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">

											<select id="subdept-select" class="form-control input-sm"
												placeholder="Select Sub Department" th:field="*{name}">
												<option>Alfa Romeo</option>
												<option>Audi</option>
												<option>BMW</option>
												<option>Citroen</option>
											</select>


										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3">
										<div class="btn-group" role="group">
											<input type="button" class="btn btn-secondary" value="Add"></input>
											<input type="button" class="btn btn-secondary" value="Edit"></input>
											<input type="button" class="btn btn-secondary" value="Delete"></input>
										</div>
									</div>
								</div>


								<!-- Class -->
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">

											<select id="class-select" class="form-control input-sm"
												placeholder="Select Class" th:field="*{name}">
												<option>Alfa Romeo</option>
												<option>Audi</option>
												<option>BMW</option>
												<option>Citroen</option>
											</select>


										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3">
										<div class="btn-group" role="group">
											<input type="button" class="btn btn-secondary" value="Add"></input>
											<input type="button" class="btn btn-secondary" value="Edit"></input>
											<input type="button" class="btn btn-secondary" value="Delete"></input>
										</div>
									</div>
								</div>



								<!-- Subclass -->
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">

											<select id="subclass-select" class="form-control input-sm"
												placeholder="Select Sub Class" th:field="*{name}">
												<option>Alfa Romeo</option>
												<option>Audi</option>
												<option>BMW</option>
												<option>Citroen</option>
											</select>


										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3">
										<div class="btn-group" role="group">
											<input type="button" class="btn btn-secondary" value="Add"></input>
											<input type="button" class="btn btn-secondary" value="Edit"></input>
											<input type="button" class="btn btn-secondary" value="Delete"></input>
										</div>
									</div>
								</div>


							</form>
						</div>
					</div>
					<div class="card-footer text-muted">Some text here at later
						point</div>

				</div>

			</div>


		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->


	<script>
		$('#dept-select').editableSelect();
		$('#subdept-select').editableSelect();
		$('#class-select').editableSelect();
		$('#subclass-select').editableSelect();
	</script>
</body>
</html>