<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.admin.dashboard.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<th:block th:replace="common/header:: header"></th:block>
<script src="../../static/js/utils/Chart-2.7.2.min.js" th:src="@{/js/utils/Chart-2.7.2.min.js}"></script>
<script src="../../static/js/admin/dashboard.js" th:src="@{/js/admin/dashboard.js}"></script>
<!-- This thymeleaf fragment include the item lookup code-->
</head>
<body>
	<div id="wrapper">
		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<div class="row m-3">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h1 class="display-1">
								<span th:text="#{commerce.screen.admin.dashboard.title}"></span>
							</h1>
						</div>
						<div class="card-body">
							<div class="card-text">
								<div class="album p-4 m-4" th:if="${reports!=null}">
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">REVENUE</h6>
												<h2 class="dashboard-heading"><span th:text="#{commerce.screen.common.currency.inr}"></span><span th:text="${' '+reports.currentDayReport.revenueAmount}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="revenue_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Sales Count</h6>
												<h2 class="dashboard-heading"><span th:text="${' '+reports.currentDayReport.txnCount}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="sales_count_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Customer Count</h6>
												<h2 class="dashboard-heading"><span th:text="${' '+reports.currentDayReport.customerCount}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="customer_count_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow d-none">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Gross Profit</h6>
												<h2 class="dashboard-heading">INR 175.00</h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="profit_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Discount</h6>
												<h2 class="dashboard-heading"><span th:text="#{commerce.screen.common.currency.inr}"></span><span th:text="${' '+reports.currentDayReport.discountAmount}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="discount_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Discount %</h6>
												<h2 class="dashboard-heading"><span th:text="${reports.currentDayReport.discountPercentage}"></span>%</h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="discount_percent_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Basket Size</h6>
												<h2 class="dashboard-heading"><span th:text="${reports.currentDayReport.basketSize}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="basket_size_canvas"></canvas>
										</div>
									</div>
									<div class="card card-shadow">
										<div class="card-header card-shadow">
											<div class="card-text">
												<h6 class="text-muted text-uppercase">Basket Value</h6>
												<h2 class="dashboard-heading"><span th:text="#{commerce.screen.common.currency.inr}"></span><span th:text="${' '+reports.currentDayReport.basketAmount}"></span></h2>
											</div>
										</div>
										<div class="card-body">
											<canvas id="basket_value_canvas"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	
<script th:inline="javascript">
		/*<![CDATA[*/

		var dates= /*[[${reports.dates}]]*/;
		
		var dashboardData= /*[[${reports.dashboardData}]]*/;
		
		/*]]>*/
	</script>	
	
	
</body>
</html>