<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="utf-8" />
<title th:text="#{commerce.screen.lookup.customer.account}">Customer Account Lookup Page</title>
<!-- This thymeleaf fragment include all the header stuff -->
<div th:replace="common/header:: header"></div>
<link rel="stylesheet" href="../../css/utils/datatables.min.css" th:href="@{/css/utils/datatables.min.css}" />
<script src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../../js/utils/pdfmake.min.js" th:src="@{/js/utils/pdfmake.min.js}"></script>
<script src="../../js/utils/vfs_fonts.js" th:src="@{/js/utils/vfs_fonts.js}"></script>
<script src="../../js/utils/datatables.min.js" th:src="@{/js/utils/datatables.min.js}"></script>
<script src="../../js/lookup/lookup_classes.js" th:src="@{/js/lookup/lookup_classes.js}"></script>
<script src="../../js/lookup/customer_account_lookup.js" th:src="@{/js/lookup/customer_account_lookup.js}"></script>
</head>
<body>
	<div id="wrapper">


		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<form class="form" id="searchForm" action="#" th:action="@{/admin/customer_account_lookup}" th:object="${accountDTO}" method="post">
				<div class="row content-container">
					<div class="col-8">
						<div class="card">
							<div class="card-header">
								<h3 th:text="#{commerce.home.menu.lookup.customer.account}">Customer Account Lookup</h3>
							</div>
							<div class="card-body">

								<div class="card-text">

									<div class="row">
										<div class="col-4">
											<div class="form-group text-left">
												<label for="searchText"><small><span class="pos-mandatory" th:text="#{commerce.screen.customer.searchtext}">Customer</span></small></label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"> <span class="fa-layers fa-fw"> <i class="fas fa-male"></i> <i class="fas fa-search"
																data-fa-transform="shrink-10 right-12 up-4"></i>
														</span>
														</span>
													</div>
													<input type="hidden" th:field="*{customerId}"></input> <input type="text" th:field="*{searchBean.searchText}" class="form-control input-sm"
														th:placeholder="#{commerce.screen.supplier.search.text}" placeholder="Enter keyword to search" aria-describedby="searchHelp"></input>
													<div class="input-group-append d-none" id="customerSearchBusy">
														<span class="input-group-text"> <i class="fas fa-circle-notch fa-spin"></i>
														</span>
													</div>
												</div>
												<small id="searchHelp" class="form-text text-muted" th:text="#{commerce.screen.customer.search.keywords}">Enter keywords like
													Name/Email/Phone#</small> <small th:if="${#fields.hasErrors('searchBean.searchText')}" th:errors="*{searchBean.searchText}" class="text-danger">Search
													Text Error</small>
												<div id="customerMsg"></div>
											</div>

										</div>
										<div class="col-4">
											<div class="form-group text-left">
												<label for="locationId"><small><span th:text="#{commerce.screen.common.location}">Location </span></small></label>
												<div class="input-group">
													<select th:field="*{selectedLocation}" class="form-control input-sm">
														<option value="0" th:text="#{commerce.screen.common.select.all}"></option>
														<option th:each="location: ${accountDTO.locations}" th:value="${location.locationId}" th:text="${location.locationId} + ' - ' +${location.name}"></option>
													</select>
												</div>
											</div>
										</div>




										<div class="col-3">
											<div class="form-group text-left">
												<label for="searchBtn"><small></small></label>
												<div class="input-group">
													<button type="submit" id="searchBtn" value="Search" th:class="${accountDTO.customer==null?'btn btn-info d-none':'btn btn-info'}" onClick="showFormSubmit()">
														<i class="fas fa-search fa-2x mx-2"></i> <span th:text="#{commerce.screen.btn.submit.account.journal.search}"></span>
													</button>
												</div>
											</div>
										</div>

									</div>
									<div class="row" th:if="${accountDTO.journals!=null}">
										<div class="col-12">
											
											<table id="paymentDetails" class="table table-hover table-stripped">
												<thead>
													<tr>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.serial}"></span></th>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.date.created}"></span></th>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.location}"></span></th>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.txn.type}"></span></th>
														
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.credit}"></span></th>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.debit}"></span></th>
														<th scope="col"><span th:text="#{commerce.screen.lookup.account.comments}"></span></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="journal,itrStat:${accountDTO.journals}">
														<td scope="row"><span th:text="${itrStat.index+1}"></span></td>
														<td><span th:text="${#temporals.format(journal.createdDate, 'dd-MMM-yyyy HH:mm:ss')}"></span></td>
														<td><span th:text="${journal.accountHeadBean.locationId}"></span></td>
														<td><span th:text="${journal.journalTypeDisplay}"></span></td>
														
														<td><span th:text="#{commerce.screen.common.currency.inr.short}+' '+${journal.amount}" th:if="${journal.journalType=='customer_credit_return' or journal.journalType=='advance' or journal.journalType=='full' or journal.journalType=='part'}"></span></td>
														<td><span th:text="#{commerce.screen.common.currency.inr.short}+' '+${journal.amount}" th:if="${journal.journalType=='customer_credit'}"></span></td>
														<td><span th:text="${journal.remarks}"></span></td>
													</tr>
												</tbody>
											</table>
											<div id="tableBtns" class="text-center"></div>

										</div>
									</div>


								</div>

							</div>
						</div>
					</div>

					<div class="col">
						<!-- Customer Details Starts -->
						<div id="customerDetails" th:class="${accountDTO.customer==null}?'d-none':''">
							<div class="card border-box-filled">
								<input type="hidden" th:field="*{customer.customerId}"></input> <input type="hidden" th:field="*{customer.name}"></input> <input type="hidden"
									th:field="*{customer.email}"></input> <input type="hidden" th:field="*{customer.phone}"></input> <input type="hidden"
									th:field="*{customer.customerType}"></input>

								<div class="card-body">
									<div class="row">
										<div class="col-6">
											<div class="form-group text-left">
												<label for="name"><small><span th:text="#{commerce.screen.customer.name}">Customer Name</span></small></label>
												<div class="input-group text-left">
													<label><h3>
															<span id="lbl_cust_name" th:text="${accountDTO.customer.name}"></span>
														</h3></label>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group text-left">
												<label for="phone"><small><span th:text="#{commerce.screen.customer.phone}">Customer Phone</span></small></label>
												<div class="input-group text-left">
													<label><h3>
															<span id="lbl_cust_phone" th:text="${accountDTO.customer.phone}"></span>
														</h3></label>
												</div>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group text-left">
												<label for="email"><small><span th:text="#{commerce.screen.customer.email}">Customer Email</span></small></label>
												<div class="input-group text-left">
													<label><h3>
															<span id="lbl_cust_email" th:text="${accountDTO.customer.email}"></span>
														</h3></label>
												</div>

											</div>
										</div>
									</div>


								</div>
							</div>
						</div>
						<!-- Customer Details Ends -->

						<!-- Customer Account Details Starts -->
						<div id="customerAccountDetails" th:class="${accountDTO.accountHead==null}?'d-none':''">
							<div class="card border-box-filled">
								<input type="hidden" th:field="*{accountHead.locationId}"></input> <input type="hidden" th:field="*{accountHead.accountId}"></input> <input
									type="hidden" th:field="*{accountHead.entityType}"></input> <input type="hidden" th:field="*{accountHead.entityId}"></input> <input type="hidden"
									th:field="*{accountHead.entityName}"></input> <input type="hidden" th:field="*{accountHead.advanceAmt}"></input> <input type="hidden"
									th:field="*{accountHead.dueAmt}"></input>

								<div class="card-body">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.supplier.payment.amount.advance}">Net Advance Amount Balance</span></small></label>
												<div class="input-group text-left">
													<label><h3>
															<span th:text="#{commerce.screen.common.currency.inr}">INR</span> <span id="lbl_advanceAmt"> 0.00</span>
														</h3></label>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label><small><span th:text="#{commerce.screen.supplier.payment.amount.due}">Net Due Amount Balance</span></small></label>
												<div class="input-group text-left">
													<label><h3>
															<span th:text="#{commerce.screen.common.currency.inr}">INR</span> <span id="lbl_dueAmt"> 0.00</span>
														</h3></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Customer Account Details Ends -->
					</div>


				</div>
			</form>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		var customer_data = /*[[${accountDTO.customer}]]*/;
		
		/*]]>*/
	</script>	
	
	
</body>
</html>