<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8" />
<title th:text="#{commerce.screen.home.dashboard.title}"></title>
<!-- This thymeleaf fragment include all the header stuff -->
<link href="../../static/css/utils/introjs.min.css" th:href="@{/css/utils/introjs.min.css}" rel="stylesheet" />
<script src="../../static/js/utils/intro.js" th:src="@{/js/utils/intro.js}"></script>
<th:block th:replace="common/header:: header"></th:block>
<!-- This thymeleaf fragment include the item lookup code-->

</head>
<body>
	<div id="wrapper">
		<!-- Page Content -->
		<div id="page-content-wrapper-no-menu">
			<!-- This thymeleaf fragment include the top navigation bar-->
			<div th:include="common/navbar :: navbarMenu"></div>
			<!-- This thymeleaf fragment is the body part for the page-->
			<h1 class="display-1">Cashier Dashboard</h1>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
	
	<script>
	$(function() {
		
		introJs(".global-help").start();
		
	});
	</script>
	
</body>
</html>